$bc: #5bafbd;
// $bc-dark: #316169;
$bc-light: #59b2c1;
$bc-lighter: #e5fbff;
$bc-dark: #428590;
$bc-darker: #2d5961;

.grecaptcha-badge {
    visibility: hidden;
}

h2,
h3 {
    color: $bc !important;
}

.inner-box {
    .title {
        background: $bc !important;
        color: #ffffff !important;
    }
}

.border-themed {
    border-color: $bc !important;
}

strong {
    color: $bc;
}

a {
    color: $bc-dark;
}

body {
    color: $bc-dark;
}




.featured-content-section .content-column {

    h3 {
        padding-left: 0px;
    }

    h3:before {
        border-bottom-color: $bc;
        border: none;
    }
}




.scrollTo {
    cursor: pointer;
}




.scroll-to-top {
    border-radius: 5px;
    background-color: $bc;
    border: 1px solid #fff;
}

.scroll-to-top:hover {
    background-color: #000000;
}

.main-slider {
    overflow: hidden;

    .rev_slider {
        height: 100vh !important;
    }

    .subtitle:before {
        // display: none;
    }
}

.main-header.fixed-header {
    .header-upper {
        background-color: #ffffff;

        .logo-outer {
            .logo img {
                max-height: 40px;
                margin-top: 10px;
                margin-left: 30px;
                margin-bottom: 15px;
            }
        }

        .nav-outer {
            .main-menu {
                // background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}

.main-header .header-upper .outer-box {
    .logo-outer {
        .logo img {
            max-height: 60px;
            margin-top: 10px;
            margin-left: 35px;
            margin-bottom: 10px;
        }
    }

    .nav-outer {
        // min-height: 75px;
        min-height: auto;
        margin: 20px 0px 0px 0px;

        .main-menu {
            .navigation {
                background-color: rgba(255, 255, 255, 0.3);

                >li {
                    margin-left: 15px;
                    margin-right: 15px;

                    >span {
                        position: relative;
                        display: block;
                        padding: 35px 0px;
                        font-size: 14px;
                        line-height: 30px;
                        font-weight: 600;
                        text-transform: uppercase;
                        opacity: 1;
                        transition: all 500ms ease;
                        cursor: pointer;
                    }

                    >span,
                    >a {
                        color: #5aa8b5;
                        padding-bottom: 5px;
                        padding: 10px 20px;
                        margin-bottom: 5px;

                    }



                    ul {
                        >li>a {
                            color: #ffffff;
                        }

                        >li:hover>span,
                        >li:hover>a {
                            background-color: $bc-light;
                        }

                        >li>ul {
                            background-color: #6ecddd;

                            >li>span,
                            >li>a {
                                color: #ffffff;
                            }

                            >li>span:hover,
                            >li>a:hover {
                                background-color: $bc-light;
                            }
                        }
                    }
                }

                >li.current {

                    >span,
                    >a {
                        color: #5aa8b5;
                        opacity: 1;
                        border-bottom: 1px solid;
                        // margin-bottom: 0;
                        margin-bottom: 15px;
                        // padding: 20px;
                        // padding: 10px 20px;
                        padding: 10px 20px 0px 15px;
                    }
                }

                >li:hover {

                    >span,
                    >a {
                        color: $bc;
                        border-bottom: 2px solid $bc;
                        margin-bottom: 8px;
                        padding-bottom: 5px;
                    }
                }

                >li.dropdown:hover>ul {
                    background-color: #6ecddd;
                }
            }
        }
    }

}



@media only screen and (max-width: 767px) {

    .main-header.header-style-two {
        background: #ffffff;

        .outer-box {
            .nav-outer {
                min-height: 10px;
                margin: 0px;

                .main-menu {
                    margin-top: 0px;

                    .navbar-header .navbar-toggle .icon-bar {
                        background: $bc;
                    }

                    .navbar-collapse>.navigation {
                        background: #ffffff;

                        >li>span {
                            padding: 10px 10px !important;
                            line-height: 22px;
                            font-size: 14px;
                            text-align: left;
                            min-height: 0px;
                        }

                        >li>ul,
                        >li>ul>li>a,
                        >li>a {
                            color: #5aa8b5 !important;
                            background: #ffffff;
                        }

                        >li:hover>a,
                        >li.current>a {
                            color: #5aa8b5 !important;
                            // background: #ffffff;
                            background: #e9fcff;

                        }

                        >li:hover {

                            >span,
                            >a {
                                color: $bc;
                                border-bottom: none;
                            }
                        }

                        li.dropdown .dropdown-btn {
                            border: 1px solid #64b2be;
                            color: #5aa8b5;
                        }
                    }
                }

            }

            .logo-outer {
                position: absolute;

                .logo img {
                    max-height: 40px;
                    margin-top: 5px;
                }
            }
        }

    }

}















.navbar.navbar-fixed-top {

    .navbar-header {
        .navbar-brand img {
            background-color: rgba(255, 255, 255, 0.95);
        }
    }

    .menu_bars {
        display: none;

        >span {
            background-color: $bc;
        }
    }

    .navbar-nav {
        margin-top: 10px;
        // background-color: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        padding: 0 10px;
        background-color: rgba(255, 255, 255, 0.95);

        li {
            a {
                color: $bc-dark !important;
                font-size: 14px;
                line-height: 30px;
                font-weight: 600;
                text-transform: uppercase;
                border-bottom: 2px solid transparent;
            }
        }

        li:hover {
            a {
                color: $bc-dark;
                border-bottom: 2px solid $bc-dark;
            }
        }
    }
}


.pushmenu {
    .push_nav {
        margin-top: 5px;

        >li {
            >a {
                text-align: left;
                color: $bc !important;
            }
        }
    }
}



@media only screen and (max-width: 767px) {
    .navbar.navbar-fixed-top {
        .menu_bars {
            display: block;
            width: auto;
            padding: 5px;
            background-color: #fff;
            border: 1px solid $bc;
            border-radius: 1px;
        }

        .container {
            // display: none;
        }
    }

    .navbar.shrink {
        background: transparent;
        box-shadow: none;

        .container {
            .navbar-brand {
                display: none;
            }
        }
    }
}



















































.main-slider {
    height: 100vh;

    .bordered-title {
        font-size: 35px;
        text-align: center;
        height: 60px;
        line-height: 1.8em;
    }

    .small-text {
        margin-right: 0 !important;
        margin-left: auto !important;
    }

    .big-title {
        color: $bc;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    }

    .subtitle {
        color: $bc;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    }

    .subtitle:before {
        border-bottom: 1px solid $bc;
        // width: 100px;
    }

    .link-box {
        color: $bc-dark;
        // width: 400px;
        // margin-right: 0 !important;
        // margin-left: auto !important;color: #32636b;
        // background-color: rgba(0, 0, 0, 0.15);
        // background-color: rgba(255, 255, 255, 0.15);
        padding: 10px 20px !important;
        border-radius: 2px;
        // border: 1px solid rgba(91, 175, 189, 0.25);
        text-shadow: 0px 0px 5px #fff;
    }

    .slide-backdrop {
        width: 100vw;
        height: 100vh;
        // background-color: rgba(0, 0, 0, 0.2);
        background-color: rgba(255, 255, 255, 0.5);
        position: relative;
        z-index: 1;
    }
}




.home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-size: cover;

    position: relative;
    overflow: hidden;

    .text {
        z-index: 1;
        position: relative;
        // width: 375px;
        // height: 375px;
        width: 420px;
        height: 420px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .social-media-links {
            margin-top: 20px;
            a {
                margin: 0 10px;
                font-size: 20px;
            }
        }
    }



    .bg-image {}

    .bg-image1 {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 0;
        // z-index: 1;
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
    }


    .backdrop-image {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 0;
        // z-index: 1;
        height: 100vh;
        width: 100%;
        // background: linear-gradient(60deg, rgba(255, 255, 255, 0.76) 0%, rgba(231, 250, 255, 0.67) 70%);
        // background: linear-gradient(60deg, rgba(255, 255, 255, 0.76) 0%, rgba(255, 255, 255, 0.67) 70%);
        // background-color: rgba(255, 255, 255, 0.75);
        background-color: rgba(255, 255, 255, 0.15);
    }

    // .bg-image1.rotate {
    //     transform: rotate(45deg);
    //     animation: none;
    //     background-color: red;
    // }


}

@media only screen and (max-width: 767px) {


    .home {
        .text {
            width: 375px;
            height: 375px;

            h1 {
                font-size: 25px;
            }

            h3 {
                font-size: 17px;
            }
        }

        .bg-image1 {
            background-size: auto 85%;
        }
    }
}




.key-business-areas {    
    background: #ffffff;
    .title-box {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 2;
        width: 100%;
        text-align: center;

        .inner-box {
            position: relative;
            display: block;
            margin-top: -30px;

            .title {
                position: relative;
                display: inline-block;
                background: #222222;
                color: #ffffff;
                font-size: 24px;
                padding: 14px 50px;
                line-height: 32px;
                border-radius: 3px;
            }
        }
    }

    .auto-container {
        // margin-bottom: 50px;
        margin-bottom: 0px;

        .content-column .inner {
            padding-top: 70px;

            h3 {
                font-style: normal;
                font-family: unset;
            }
        }

        .content-column {
            h3 {
                padding-left: 0px;
            }

            h3:after,
            h3:before {
                display: none;
            }
        }

        .content-column.pull-left {
            h2 {
                margin-right: -134px;
                margin-left: auto;
                text-align: right;
            }

            .text {
                text-align: right;
            }

            h3 {
                // padding-right: 60px;
                padding-left: 0;
                text-align: right;
            }

            h3:after,
            h3:before {
                display: none;
            }

            // h3:before {
            //     display: none;
            // }

            // h3:after {
            //     content: '';
            //     position: absolute;
            //     right: 0px;
            //     top: 50%;
            //     margin-top: -1px;
            //     width: 40px;
            //     border-bottom: 2px solid #333333;
            // }

        }

        .image-column.pull-left {
            .image-bg {
                margin-right: 0;
                margin-left: auto;
            }
        }


        .image-column .image-bg {
            width: auto;
            // height: 280px;
            height: 375px;
            background-color: transparent;
            background-position: center;
            // background-size: cover;
            background-size: contain;
            background-repeat: no-repeat;
            // border: 1px solid #bdbdbd;
            border: none;

            background-color: rgba(111, 205, 221, 0.1);
            width: 375px;
            height: 375px;
            border-radius: 50%;
        }
    }

}


@media only screen and (max-width: 767px) {


    .key-business-areas {
        .title-box {

            .inner-box {

                .title {}
            }
        }

        .auto-container {
            margin-bottom: 0px;

            .content-column .inner {
                padding-top: 30px;
            }

            .content-column.pull-left {
                h2 {}

                .text {
                    text-align: left;
                }

                h3 {
                    text-align: left;
                    padding-right: 0;
                }

                h3:before,
                h3:after {
                    display: none;
                }

            }

            .image-column.pull-left,
            .image-column {
                .image-bg {
                    height: 350px;
                    width: 350px;
                    margin-bottom: 25px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

    }


}













.ethos-values {
    padding: 25px 0px 25px;
    // background: #f8f8f8;
    .title-box:after {
        border-bottom-color: $bc;
    }

    .icon-box {
        i {
            color: $bc;
        }
    }

    .service-style-one {
        min-height: 215px;
    }



}














.team-section {
    // background-color: #f8f8f8;

    .team-members {
        // display: flex;
        text-align: center;

        .team-member {
            width: 20%;
            // float: none;
            display: inline-block;

            .bg-image {
                height: 100px;
                width: 100px;
                margin: auto;
                margin-bottom: 20px;
                position: relative;

                .bg-tm-image {
                    filter: grayscale(100%);
                    background-position: center;
                    background-size: cover;    
                    border-radius: 50%;
                    border: 1px solid #333333;    
                    width: 100%;
                    height: 100%;                    
                }
                .linkedin {
                    font-size: 20px;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background-color: #fff;
                    padding: 1px 5px;
                    border: 1px solid;
                    border-radius: 5px;
                }
            }

            h3 a {
                color: $bc-dark;
            }

            .designation {
                color: $bc-dark;
                font-size: 12px;
                font-weight: normal;                
            }
        }
    }

    .title-box {
        position: relative;
        margin-bottom: 60px;
        padding-bottom: 32px;
        text-align: center;

        h2 {
            position: relative;
            font-size: 36px;
            font-weight: 700;
            color: #333333;
            line-height: 1.2em;
            margin-bottom: 10px;
        }
    }

    .title-box:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0px;
        margin-left: -25px;
        width: 50px;
        border-bottom: 2px solid $bc;
    }
}

@media only screen and (max-width: 767px) {

    .team-section {
        .team-members {
            display: unset;

            .team-member {
                width: unset;
                float: unset;
                display: unset;
            }
        }
    }
}




.investment-opportunity {
    background-color: #fff;
    background-position: center;
    background-size: cover;

    .bg-backdrop {
        background-color: rgba(255, 255, 255, 0.65);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
    }

    .scrollTo {
        font-weight: bold;
        border-bottom: 1px solid;
    }

    .content-column {
        h2 {
            margin-left: 0;
        }

        h3 {
            font-family: unset;
            font-style: normal;
            font-weight: normal;
        }

        .text {
            h3 {
                margin-top: 30px;
                text-align: center;
            }
        }
    }

    .image-bg {
        width: 570px;
        height: 370px;
        background-position: center;
        background-size: cover;
        background-color: $bc-lighter;

        width: 470px;
        height: 470px;
        border-radius: 0 50% 50% 50%;
        border: 1px solid $bc-light;
    }
}

@media only screen and (max-width: 767px) {

    .investment-opportunity {
        padding: 10px 0;

        .image-bg {
            display: none;
        }
    }
}







.about-section {
    // background-color: #f8f8f8;
    // background-color: #faf9fd;
    background-color: #ffffff;

    background-size: contain;
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;    

    .content-column .facts {
        display: none;
    }

    .social-links {
        position: relative;
        padding-top: 55px;
        font-size: 14px;
        text-align: center;

        li {
            position: relative;
            display: inline-block;
            margin: 0px 25px;
            line-height: 24px;

            a {
                position: relative;
                display: block;
                color: #333333;
                font-weight: 500;
            }
        }
    }

    .images-column {
        .bg-image {
            // height: 350px;
            // width: 360px;
            height: 400px;
            width: 100%;            
            background-position: center;
            // background-size: cover;
            background-size: contain;
            background-repeat: no-repeat;
            // border: 1px solid $bc-light;
        }

        .image-col:first-child .bg-image {
            // margin-top: 65px;
        }
    }

    .text-column {
        .inner-box {
            padding: 10px;
            // border: 1px solid transparent;
            cursor: pointer;

            h3 {
                margin-top: 10px;
            }

        }

        .inner-box:hover {

            // border: 1px solid;
            h3 span {
                // color: $bc-dark;
                border-bottom: 1px solid;
            }

            .text {
                color: $bc-dark;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .about-section {

        .text-column h3,
        .text-column .text,
        .text-column .text-left,
        .text-column .text-right {
            text-align: center;
        }

        .images-column {
            .bg-image {
                margin-top: 0 !important;
                margin: auto;
                width: 100%;
            }
        }
    }
}





.hot-developments {
    // background: #ffffff;

    .content-column h2 {
        margin-left: 0;
    }

}

.hot-developments.featured-content-section-two {
    .content-column {
        h3 {
            font-family: unset;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            color: #888888;
        }
    }

    .facts .facts-list li {
        .count {
            color: $bc;
        }

        .icon {
            color: $bc;
        }

        .fact-title {
            color: $bc;
        }
    }
}

.hot-developments.sponsors-section {
    // padding-bottom: 20px;
    padding-bottom: 65px;
    background: #f8f8f8;
    .projects {
        .project {
            >p {
                text-align: center;
            }

            .small_heading_navy {
                margin-bottom: 5px;
                color: #333333;
                text-align: center;
            }

            .blog_img {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #d5d5d5;
                height: 180px;
                border-radius: 5px 5px 0px 0px;

                img {
                    // width: auto;
                    width: 85%;
                    max-height: 170px;
                }
            }
        }

        .social {

            // background-color: red;
            .footer_links {
                padding: 0;
                margin: 0;
                margin-bottom: 25px;
                // background-color: #222222;
                background-color: $bc;
                border-radius: 0px 0px 5px 5px;

                li {
                    margin-right: 5px;
                    margin-left: 5px;
                    list-style-type: none;
                    display: inline-block;

                    a {
                        height: 40px;
                        width: 40px;
                        display: inline-block;
                        text-align: center;
                        line-height: 40px;
                        border-radius: 50%;
                        color: #ffffff;
                        font-size: 20px;
                        transition: 1s;

                        i {
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }


    .inner {
        margin: 40px 10px 0px;
        padding: 80px 15px 60px 20px;

        h2 {
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .hot-developments {
        .facts {
            .facts-list {
                li {
                    width: 50%;
                }
            }
        }
    }

    .hot-developments.sponsors-section {
        .title-box .inner-box .title {
            padding: 15px;
        }
    }

}




.contact-info-section {
    padding: 100px 0px 20px;

    .title-box {
        h4 {
            color: $bc;
        }
    }

    .title-box:after {
        border-bottom-color: $bc;
    }

    .left-column {
        .contact-info {
            .social a {
                color: $bc;
                margin-right: 10px;
            }
        }

        .complete-address {
            h5 {
                margin-bottom: 25px;
                margin-top: 15px;
                font-size: 16px;
                padding-left: 45px;

                strong {
                    color: $bc-dark;
                }

                i {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    font-size: 25px;
                }
            }
        }
    }

    .right-column {

        .contact-us-form {

            input[type="text"],
            input[type="email"],
            input[type="password"],
            input[type="tel"],
            input[type="number"],
            input[type="url"],
            select,
            textarea {
                border-bottom-color: $bc;
            }

            ::placeholder {
                color: $bc-dark;
            }

            .send-message-btn {
                color: $bc;
                border-color: $bc;
            }

            .send-message-btn:hover {
                color: #ffffff;
                background-color: $bc-dark;
                border-color: $bc-dark;
            }
        }
    }

}


@media only screen and (max-width: 767px) {
    .contact-info-section {
        .left-column {
            .complete-address {
                h5 {
                    margin-left: 10px;
                    font-size: 18px;
                }
            }
        }
    }
}











































.main-footer {
    .links-widget .list li a {
        color: $bc-dark;
    }

    .newsletter-widget .text {
        color: $bc-dark;
    }

    .contact-info {

        li,
        li a {
            color: $bc-dark;
        }
    }

    .social-links {
        li a {
            color: $bc-dark;
        }
    }

    .footer-bottom {
        color: $bc;
        border-top: none;
        padding-top: 20px;

        .footer-social {
            a {
                color: $bc;
                margin: 10px 10px 15px 10px;
                display: inline-flex;
                font-size: 15px;
            }
        }

        .copyright-text {
            margin-bottom: 8px;

            a {
                color: $bc;
            }

            .period {
                font-size: 5px;
                margin: 10px;
                position: relative;
                top: -2px;
            }
        }
    }
}

























































.modal {
    .modal-title {
        img {
            height: 45px;
        }
    }

    .modal-header {
        border-bottom: 0;

        button.close {
            position: absolute;
            cursor: pointer;
            z-index: 1;
        }
    }

    .modal-footer {
        border-top: 0;
    }

    .close {
        right: 20px;
    }

    .btn-close {
        background-color: $bc;
        color: #fff;
    }
}

// for Privacy Policy and Terms & Condition
@media (min-width: 1000px) {
    .modal-lg {
        width: 60%;
    }
}


.document {
    font-size: 0.8em;
    line-height: 1.7em;
    font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 10px 0 30px;

    // padding: 0 30px;
    .document_text_content {
        height: 65vh;
        overflow-y: auto;
        padding-right: 10px;
    }

    h2 {
        margin: 0px 0 30px;
        text-align: center;
        font-size: 200%;
        position: relative;
        top: -30px;
    }

    h3:first-child {
        margin-top: 0px;
    }

    h3 {
        font-size: 130%;
        font-weight: bold;
        margin-top: 40px;
    }

    p {
        text-align: justify;
        margin-bottom: 20px;
    }

    ul {
        margin-bottom: 30px;

        li {
            margin-bottom: 8px;
            text-align: justify;

            strong {
                font-weight: bold;
                font-size: 110%;
                border-bottom: 1px solid;
                padding-bottom: 1px;
            }
        }
    }

    p~ul {
        margin-top: -10px;
    }
}










.dark_bg {

    h3,
    i,
    .icons_div_small p,
    .icons_div_small i,
    .navy_blue,
    .default_text,
    .font_200 {
        color: #fff !important;
    }

    .default_divider {
        border-top-color: #fff !important;
    }
}


















// sticky buttons
/////////////////////////////////////////////////////////////////

.sticky_buttons:active,
.sticky_buttons:hover {
    background-color: #2aa0c7;
}

.sticky_buttons {
    font-size: 20px;
    position: fixed;
    bottom: 15px;
    // right: 20px;
    background-color: #000737;
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #fff;
    cursor: pointer;
    z-index: 2;

    i {
        color: #fff !important;
    }
}

.to_top {
    right: 20px;
}


.share_facebook {
    left: 20px;
}

.share_whatsapp {
    left: 70px;
}


.share_facebook,
.share_whatsapp {
    display: none;
}


/////////////////////////////////////////////////////////////////
// sticky buttons














.cookie_warning {
    position: relative;
    top: -25px;
    // background-color: rgba(0, 0, 0, 0.9);
    background-color: rgb(255, 255, 255);
    z-index: 99;
    text-align: center;
    padding: 20px 10% 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    // border-bottom: 1px solid #24bce2;
    p {
        color: #505050;
        font-size: 0.9em;
        text-align: left;
        line-height: 20px;
        width: 70%;
        margin-right: 35px;
    }

    button {
        // margin-top: 15px;
    }

    .pp_tc_link {
        text-decoration: none;
        cursor: pointer;
        color: #000;
        font-weight: 600;
    }

    .i_accept {
        color: #fff;
        background-color: #0c173e;
        border-color: #0c173e;
    }

    .i_accept:active:focus,
    .i_accept:active,
    .i_accept:hover {
        color: #fff;
        background-color: #000;
        border-color: #000;
        outline: 0;
    }
}
































#error_tic .page-body {
    max-width: 300px;
    background-color: #FFFFFF;
    margin: 10% auto;

    .head {
        h3 {
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }
}

#error_tic .page-body .head {
    text-align: center;
}

/* #error_tic .tic{
  font-size:186px;
} */
#error_tic .close {
    opacity: 1;
    position: absolute;
    right: 0px;
    font-size: 30px;
    padding: 3px 15px;
    margin-bottom: 10px;
}

#error_tic .checkmark-circle {
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.checkmark-circle .background {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #6ECDDD;
    position: absolute;
}

#error_tic .checkmark-circle .checkmark {
    border-radius: 5px;
}

#error_tic .checkmark-circle .checkmark.draw:after {
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    animation-delay: 300ms;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-name: checkmark;
    -moz-animation-name: checkmark;
    animation-name: checkmark;
    -webkit-transform: scaleX(-1) rotate(135deg);
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -o-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#error_tic .checkmark-circle .checkmark:after {
    opacity: 1;
    height: 75px;
    width: 37.5px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    border-right: 15px solid #fff;
    border-top: 15px solid #fff;
    border-radius: 2.5px !important;
    content: '';
    left: 35px;
    top: 80px;
    position: absolute;
}




















// syucceesss


#success_tic .page-body {
    max-width: 300px;
    background-color: #FFFFFF;
    margin: 10% auto;
}

#success_tic .page-body .head {
    text-align: center;
}

/* #success_tic .tic{
  font-size:186px;
} */
#success_tic .close {
    opacity: 1;
    position: absolute;
    right: 0px;
    font-size: 30px;
    padding: 3px 15px;
    margin-bottom: 10px;
}

#success_tic .checkmark-circle {
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.checkmark-circle .background {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #6ECDDD;
    position: absolute;
}

#success_tic .checkmark-circle .checkmark {
    border-radius: 5px;
}

#success_tic .checkmark-circle .checkmark.draw:after {
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    animation-delay: 300ms;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-name: checkmark;
    -moz-animation-name: checkmark;
    animation-name: checkmark;
    -webkit-transform: scaleX(-1) rotate(135deg);
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -o-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#success_tic .checkmark-circle .checkmark:after {
    opacity: 1;
    height: 75px;
    width: 37.5px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    border-right: 15px solid #fff;
    border-top: 15px solid #fff;
    border-radius: 2.5px !important;
    content: '';
    left: 35px;
    top: 80px;
    position: absolute;
}

@-webkit-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }

    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }

    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}

@-moz-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }

    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }

    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }

    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }

    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}



// end success








@media only screen and (max-width: 767px) {
    .document {
        padding: 0 10px 0 10px;

        h2 {
            margin: 20px 0 0px;
        }
    }
}




































































// animation
/////////////////////////////////////////////
.home {


    .bg-image {


        position: absolute;
        z-index: 0;
        // z-index: 1;
        height: 100vh;
        width: 100%;
        // background-color: rgba(255, 255, 255, 0.75);

        /* height: 100%; */
        /* max-height: 600px; */
        /* width: 1000px; */
        // background-color: hsla(200, 40%, 30%, .4);
        background-color: transparent;
        /* background-image:
            url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'),
            url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
            url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
            url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png')
            !important; */
        background-repeat: repeat-x;
        background-position: center;
        background-size: 300px;
        background-repeat: no-repeat;


        /* animation: 55s para infinite linear; */
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: para;
    }

    @keyframes para {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.09);
        }

        100% {
            transform: scale(1);
        }
    }












    // .icon {
    //     width: 350px;
    //     height: 350px;
    //     margin: 0 auto;
    //     position: relative;
    //     border: 1px solid red;
    // }

    // .icon:hover {
    //     animation: rotatecircle 4s infinite linear;
    // }

    .outerCircle {
        background-color: transparent;
        // border: 8px solid rgba(97, 82, 72, 0.9);
        border: 2px solid rgba(110, 205, 221, 0.5);
        ;
        opacity: .9;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-radius: 50%;
        top: 0;
        margin: 0 auto;
        animation: spinPulse 4s infinite ease-in-out;

        position: absolute;
        // top: -20px;
        top: 0px;
        left: 0px;
        width: 420px;
        height: 420px;
    }

    .innerCircle {
        background-color: transparent;
        border: 5px solid rgba(189, 215, 60, 0.6);
        opacity: .9;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-radius: 50%;
        top: 0;
        width: 350px;
        height: 350px;
        margin: 0 auto;
        position: relative;
        animation: spinoffPulse 1s infinite linear;

    }
}


@keyframes spinPulse {
    0% {
        transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #bdd73c;
    }

    50% {
        transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        transform: rotate(-320deg);
        opacity: 0;
    }
}

@keyframes spinoffPulse {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotatecircle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}



@media only screen and (max-width: 767px) {
    .home {
        .outerCircle {
            width: 375px;
            height: 375px;
        }
    }
}









.rotate {
    // animation-duration: .5s;
    // animation-iteration-count: 1;
    // animation-name: yoyo;
    // animation-timing-function: linear;

    animation: yoyo 460s infinite linear;

}

@keyframes yoyo {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
