.loader {   
}


.loader {
    background: linear-gradient(60deg, rgb(40, 52, 140) 0%, rgb(39, 24, 86) 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    .loader-inner {
        position: relative;
        transform: translateY(-50%);
        top: 45px;
        left: 0;
        display: inline-flex;
        width: 215px;
        height: 100px;
    }
    .dot1 {
        background: #223fcc !important;
    }
    .dot2 {
        background: #fff !important;
    }
}






























.wrapper {
  position: absolute;
  width: 200px;
  height: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.knight-loader {
  height: 100%;
  display: flex;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.knight-loader div {
    flex: 1;
    margin: 0px 5px;
    background: #fff;
    box-shadow: 0 0 20px #fff;
    border-radius: 3px;
    -webkit-animation: go 0.8s infinite alternate ease;
    animation: go 0.8s infinite alternate ease;
}
.knight-loader div:nth-child(1) {
  -webkit-animation-delay: -0.72s;
          animation-delay: -0.72s;
}
.knight-loader div:nth-child(2) {
  -webkit-animation-delay: -0.64s;
          animation-delay: -0.64s;
}
.knight-loader div:nth-child(3) {
  -webkit-animation-delay: -0.56s;
          animation-delay: -0.56s;
}
.knight-loader div:nth-child(4) {
  -webkit-animation-delay: -0.48s;
          animation-delay: -0.48s;
}
.knight-loader div:nth-child(5) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.knight-loader div:nth-child(6) {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}
.knight-loader div:nth-child(7) {
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}
.knight-loader div:nth-child(8) {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}
.knight-loader div:nth-child(9) {
  -webkit-animation-delay: -0.08s;
          animation-delay: -0.08s;
}
.knight-loader div:nth-child(10) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes go {
  100% {
    background: transparent;
    flex: 10;
    box-shadow: 0 0 0 transparent;
  }
}

@keyframes go {
  100% {
    background: transparent;
    flex: 10;
    box-shadow: 0 0 0 transparent;
  }
}