.loader {
  background: linear-gradient(60deg, #28348c 0%, #271856 70%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader .loader-inner {
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 45px;
  left: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 215px;
  height: 100px;
}

.loader .dot1 {
  background: #223fcc !important;
}

.loader .dot2 {
  background: #fff !important;
}

.wrapper {
  position: absolute;
  width: 200px;
  height: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.knight-loader {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.knight-loader div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0px 5px;
  background: #fff;
  -webkit-box-shadow: 0 0 20px #fff;
          box-shadow: 0 0 20px #fff;
  border-radius: 3px;
  -webkit-animation: go 0.8s infinite alternate ease;
  animation: go 0.8s infinite alternate ease;
}

.knight-loader div:nth-child(1) {
  -webkit-animation-delay: -0.72s;
  animation-delay: -0.72s;
}

.knight-loader div:nth-child(2) {
  -webkit-animation-delay: -0.64s;
  animation-delay: -0.64s;
}

.knight-loader div:nth-child(3) {
  -webkit-animation-delay: -0.56s;
  animation-delay: -0.56s;
}

.knight-loader div:nth-child(4) {
  -webkit-animation-delay: -0.48s;
  animation-delay: -0.48s;
}

.knight-loader div:nth-child(5) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.knight-loader div:nth-child(6) {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.knight-loader div:nth-child(7) {
  -webkit-animation-delay: -0.24s;
  animation-delay: -0.24s;
}

.knight-loader div:nth-child(8) {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.knight-loader div:nth-child(9) {
  -webkit-animation-delay: -0.08s;
  animation-delay: -0.08s;
}

.knight-loader div:nth-child(10) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@-webkit-keyframes go {
  100% {
    background: transparent;
    -webkit-box-flex: 10;
            flex: 10;
    -webkit-box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
  }
}

@keyframes go {
  100% {
    background: transparent;
    -webkit-box-flex: 10;
        -ms-flex: 10;
            flex: 10;
    -webkit-box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
  }
}
