.grecaptcha-badge {
  visibility: hidden;
}

h2,
h3 {
  color: #5bafbd !important;
}

.inner-box .title {
  background: #5bafbd !important;
  color: #ffffff !important;
}

.border-themed {
  border-color: #5bafbd !important;
}

strong {
  color: #5bafbd;
}

a {
  color: #428590;
}

body {
  color: #428590;
}

.featured-content-section .content-column h3 {
  padding-left: 0px;
}

.featured-content-section .content-column h3:before {
  border-bottom-color: #5bafbd;
  border: none;
}

.scrollTo {
  cursor: pointer;
}

.scroll-to-top {
  border-radius: 5px;
  background-color: #5bafbd;
  border: 1px solid #fff;
}

.scroll-to-top:hover {
  background-color: #000000;
}

.main-slider {
  overflow: hidden;
}

.main-slider .rev_slider {
  height: 100vh !important;
}

.main-header.fixed-header .header-upper {
  background-color: #ffffff;
}

.main-header.fixed-header .header-upper .logo-outer .logo img {
  max-height: 40px;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 15px;
}

.main-header .header-upper .outer-box .logo-outer .logo img {
  max-height: 60px;
  margin-top: 10px;
  margin-left: 35px;
  margin-bottom: 10px;
}

.main-header .header-upper .outer-box .nav-outer {
  min-height: auto;
  margin: 20px 0px 0px 0px;
}

.main-header .header-upper .outer-box .nav-outer .main-menu .navigation {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-header .header-upper .outer-box .nav-outer .main-menu .navigation > li {
  margin-left: 15px;
  margin-right: 15px;
}

.main-header .header-upper .outer-box .nav-outer .main-menu .navigation > li > span {
  position: relative;
  display: block;
  padding: 35px 0px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 1;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: pointer;
}

.main-header .header-upper .outer-box .nav-outer .main-menu .navigation > li > span,
.main-header .header-upper .outer-box .nav-outer .main-menu .navigation > li > a {
  color: #5aa8b5;
  padding-bottom: 5px;
  padding: 10px 20px;
  margin-bottom: 5px;
}

.main-header .header-upper .outer-box .nav-outer .main-menu .navigation > li ul > li > a {
  color: #ffffff;
}

.main-header .header-upper .outer-box .nav-outer .main-menu .navigation > li ul > li:hover > span,
.main-header .header-upper .outer-box .nav-outer .main-menu .navigation > li ul > li:hover > a {
  background-color: #59b2c1;
}

.main-header .header-upper .outer-box .nav-outer .main-menu .navigation > li ul > li > ul {
  background-color: #6ecddd;
}

.main-header .header-upper .outer-box .nav-outer .main-menu .navigation > li ul > li > ul > li > span,
.main-header .header-upper .outer-box .nav-outer .main-menu .navigation > li ul > li > ul > li > a {
  color: #ffffff;
}

.main-header .header-upper .outer-box .nav-outer .main-menu .navigation > li ul > li > ul > li > span:hover,
.main-header .header-upper .outer-box .nav-outer .main-menu .navigation > li ul > li > ul > li > a:hover {
  background-color: #59b2c1;
}

.main-header .header-upper .outer-box .nav-outer .main-menu .navigation > li.current > span,
.main-header .header-upper .outer-box .nav-outer .main-menu .navigation > li.current > a {
  color: #5aa8b5;
  opacity: 1;
  border-bottom: 1px solid;
  margin-bottom: 15px;
  padding: 10px 20px 0px 15px;
}

.main-header .header-upper .outer-box .nav-outer .main-menu .navigation > li:hover > span,
.main-header .header-upper .outer-box .nav-outer .main-menu .navigation > li:hover > a {
  color: #5bafbd;
  border-bottom: 2px solid #5bafbd;
  margin-bottom: 8px;
  padding-bottom: 5px;
}

.main-header .header-upper .outer-box .nav-outer .main-menu .navigation > li.dropdown:hover > ul {
  background-color: #6ecddd;
}

@media only screen and (max-width: 767px) {
  .main-header.header-style-two {
    background: #ffffff;
  }
  .main-header.header-style-two .outer-box .nav-outer {
    min-height: 10px;
    margin: 0px;
  }
  .main-header.header-style-two .outer-box .nav-outer .main-menu {
    margin-top: 0px;
  }
  .main-header.header-style-two .outer-box .nav-outer .main-menu .navbar-header .navbar-toggle .icon-bar {
    background: #5bafbd;
  }
  .main-header.header-style-two .outer-box .nav-outer .main-menu .navbar-collapse > .navigation {
    background: #ffffff;
  }
  .main-header.header-style-two .outer-box .nav-outer .main-menu .navbar-collapse > .navigation > li > span {
    padding: 10px 10px !important;
    line-height: 22px;
    font-size: 14px;
    text-align: left;
    min-height: 0px;
  }
  .main-header.header-style-two .outer-box .nav-outer .main-menu .navbar-collapse > .navigation > li > ul,
  .main-header.header-style-two .outer-box .nav-outer .main-menu .navbar-collapse > .navigation > li > ul > li > a,
  .main-header.header-style-two .outer-box .nav-outer .main-menu .navbar-collapse > .navigation > li > a {
    color: #5aa8b5 !important;
    background: #ffffff;
  }
  .main-header.header-style-two .outer-box .nav-outer .main-menu .navbar-collapse > .navigation > li:hover > a,
  .main-header.header-style-two .outer-box .nav-outer .main-menu .navbar-collapse > .navigation > li.current > a {
    color: #5aa8b5 !important;
    background: #e9fcff;
  }
  .main-header.header-style-two .outer-box .nav-outer .main-menu .navbar-collapse > .navigation > li:hover > span,
  .main-header.header-style-two .outer-box .nav-outer .main-menu .navbar-collapse > .navigation > li:hover > a {
    color: #5bafbd;
    border-bottom: none;
  }
  .main-header.header-style-two .outer-box .nav-outer .main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn {
    border: 1px solid #64b2be;
    color: #5aa8b5;
  }
  .main-header.header-style-two .outer-box .logo-outer {
    position: absolute;
  }
  .main-header.header-style-two .outer-box .logo-outer .logo img {
    max-height: 40px;
    margin-top: 5px;
  }
}

.navbar.navbar-fixed-top .navbar-header .navbar-brand img {
  background-color: rgba(255, 255, 255, 0.95);
}

.navbar.navbar-fixed-top .menu_bars {
  display: none;
}

.navbar.navbar-fixed-top .menu_bars > span {
  background-color: #5bafbd;
}

.navbar.navbar-fixed-top .navbar-nav {
  margin-top: 10px;
  border-radius: 5px;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.95);
}

.navbar.navbar-fixed-top .navbar-nav li a {
  color: #428590 !important;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

.navbar.navbar-fixed-top .navbar-nav li:hover a {
  color: #428590;
  border-bottom: 2px solid #428590;
}

.pushmenu .push_nav {
  margin-top: 5px;
}

.pushmenu .push_nav > li > a {
  text-align: left;
  color: #5bafbd !important;
}

@media only screen and (max-width: 767px) {
  .navbar.navbar-fixed-top .menu_bars {
    display: block;
    width: auto;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #5bafbd;
    border-radius: 1px;
  }
  .navbar.shrink {
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar.shrink .container .navbar-brand {
    display: none;
  }
}

.main-slider {
  height: 100vh;
}

.main-slider .bordered-title {
  font-size: 35px;
  text-align: center;
  height: 60px;
  line-height: 1.8em;
}

.main-slider .small-text {
  margin-right: 0 !important;
  margin-left: auto !important;
}

.main-slider .big-title {
  color: #5bafbd;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.main-slider .subtitle {
  color: #5bafbd;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.main-slider .subtitle:before {
  border-bottom: 1px solid #5bafbd;
}

.main-slider .link-box {
  color: #428590;
  padding: 10px 20px !important;
  border-radius: 2px;
  text-shadow: 0px 0px 5px #fff;
}

.main-slider .slide-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 1;
}

.home {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.home .text {
  z-index: 1;
  position: relative;
  width: 420px;
  height: 420px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home .text .social-media-links {
  margin-top: 20px;
}

.home .text .social-media-links a {
  margin: 0 10px;
  font-size: 20px;
}

.home .bg-image1 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.home .backdrop-image {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
}

@media only screen and (max-width: 767px) {
  .home .text {
    width: 375px;
    height: 375px;
  }
  .home .text h1 {
    font-size: 25px;
  }
  .home .text h3 {
    font-size: 17px;
  }
  .home .bg-image1 {
    background-size: auto 85%;
  }
}

.key-business-areas {
  background: #ffffff;
}

.key-business-areas .title-box {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
  text-align: center;
}

.key-business-areas .title-box .inner-box {
  position: relative;
  display: block;
  margin-top: -30px;
}

.key-business-areas .title-box .inner-box .title {
  position: relative;
  display: inline-block;
  background: #222222;
  color: #ffffff;
  font-size: 24px;
  padding: 14px 50px;
  line-height: 32px;
  border-radius: 3px;
}

.key-business-areas .auto-container {
  margin-bottom: 0px;
}

.key-business-areas .auto-container .content-column .inner {
  padding-top: 70px;
}

.key-business-areas .auto-container .content-column .inner h3 {
  font-style: normal;
  font-family: unset;
}

.key-business-areas .auto-container .content-column h3 {
  padding-left: 0px;
}

.key-business-areas .auto-container .content-column h3:after,
.key-business-areas .auto-container .content-column h3:before {
  display: none;
}

.key-business-areas .auto-container .content-column.pull-left h2 {
  margin-right: -134px;
  margin-left: auto;
  text-align: right;
}

.key-business-areas .auto-container .content-column.pull-left .text {
  text-align: right;
}

.key-business-areas .auto-container .content-column.pull-left h3 {
  padding-left: 0;
  text-align: right;
}

.key-business-areas .auto-container .content-column.pull-left h3:after,
.key-business-areas .auto-container .content-column.pull-left h3:before {
  display: none;
}

.key-business-areas .auto-container .image-column.pull-left .image-bg {
  margin-right: 0;
  margin-left: auto;
}

.key-business-areas .auto-container .image-column .image-bg {
  width: auto;
  height: 375px;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: rgba(111, 205, 221, 0.1);
  width: 375px;
  height: 375px;
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  .key-business-areas .auto-container {
    margin-bottom: 0px;
  }
  .key-business-areas .auto-container .content-column .inner {
    padding-top: 30px;
  }
  .key-business-areas .auto-container .content-column.pull-left .text {
    text-align: left;
  }
  .key-business-areas .auto-container .content-column.pull-left h3 {
    text-align: left;
    padding-right: 0;
  }
  .key-business-areas .auto-container .content-column.pull-left h3:before,
  .key-business-areas .auto-container .content-column.pull-left h3:after {
    display: none;
  }
  .key-business-areas .auto-container .image-column.pull-left .image-bg,
  .key-business-areas .auto-container .image-column .image-bg {
    height: 350px;
    width: 350px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }
}

.ethos-values {
  padding: 25px 0px 25px;
}

.ethos-values .title-box:after {
  border-bottom-color: #5bafbd;
}

.ethos-values .icon-box i {
  color: #5bafbd;
}

.ethos-values .service-style-one {
  min-height: 215px;
}

.team-section .team-members {
  text-align: center;
}

.team-section .team-members .team-member {
  width: 20%;
  display: inline-block;
}

.team-section .team-members .team-member .bg-image {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
}

.team-section .team-members .team-member .bg-image .bg-tm-image {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #333333;
  width: 100%;
  height: 100%;
}

.team-section .team-members .team-member .bg-image .linkedin {
  font-size: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 1px 5px;
  border: 1px solid;
  border-radius: 5px;
}

.team-section .team-members .team-member h3 a {
  color: #428590;
}

.team-section .team-members .team-member .designation {
  color: #428590;
  font-size: 12px;
  font-weight: normal;
}

.team-section .title-box {
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 32px;
  text-align: center;
}

.team-section .title-box h2 {
  position: relative;
  font-size: 36px;
  font-weight: 700;
  color: #333333;
  line-height: 1.2em;
  margin-bottom: 10px;
}

.team-section .title-box:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -25px;
  width: 50px;
  border-bottom: 2px solid #5bafbd;
}

@media only screen and (max-width: 767px) {
  .team-section .team-members {
    display: unset;
  }
  .team-section .team-members .team-member {
    width: unset;
    float: unset;
    display: unset;
  }
}

.investment-opportunity {
  background-color: #fff;
  background-position: center;
  background-size: cover;
}

.investment-opportunity .bg-backdrop {
  background-color: rgba(255, 255, 255, 0.65);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.investment-opportunity .scrollTo {
  font-weight: bold;
  border-bottom: 1px solid;
}

.investment-opportunity .content-column h2 {
  margin-left: 0;
}

.investment-opportunity .content-column h3 {
  font-family: unset;
  font-style: normal;
  font-weight: normal;
}

.investment-opportunity .content-column .text h3 {
  margin-top: 30px;
  text-align: center;
}

.investment-opportunity .image-bg {
  width: 570px;
  height: 370px;
  background-position: center;
  background-size: cover;
  background-color: #e5fbff;
  width: 470px;
  height: 470px;
  border-radius: 0 50% 50% 50%;
  border: 1px solid #59b2c1;
}

@media only screen and (max-width: 767px) {
  .investment-opportunity {
    padding: 10px 0;
  }
  .investment-opportunity .image-bg {
    display: none;
  }
}

.about-section {
  background-color: #ffffff;
  background-size: contain;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.about-section .content-column .facts {
  display: none;
}

.about-section .social-links {
  position: relative;
  padding-top: 55px;
  font-size: 14px;
  text-align: center;
}

.about-section .social-links li {
  position: relative;
  display: inline-block;
  margin: 0px 25px;
  line-height: 24px;
}

.about-section .social-links li a {
  position: relative;
  display: block;
  color: #333333;
  font-weight: 500;
}

.about-section .images-column .bg-image {
  height: 400px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.about-section .text-column .inner-box {
  padding: 10px;
  cursor: pointer;
}

.about-section .text-column .inner-box h3 {
  margin-top: 10px;
}

.about-section .text-column .inner-box:hover h3 span {
  border-bottom: 1px solid;
}

.about-section .text-column .inner-box:hover .text {
  color: #428590;
}

@media only screen and (max-width: 767px) {
  .about-section .text-column h3,
  .about-section .text-column .text,
  .about-section .text-column .text-left,
  .about-section .text-column .text-right {
    text-align: center;
  }
  .about-section .images-column .bg-image {
    margin-top: 0 !important;
    margin: auto;
    width: 100%;
  }
}

.hot-developments .content-column h2 {
  margin-left: 0;
}

.hot-developments.featured-content-section-two .content-column h3 {
  font-family: unset;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #888888;
}

.hot-developments.featured-content-section-two .facts .facts-list li .count {
  color: #5bafbd;
}

.hot-developments.featured-content-section-two .facts .facts-list li .icon {
  color: #5bafbd;
}

.hot-developments.featured-content-section-two .facts .facts-list li .fact-title {
  color: #5bafbd;
}

.hot-developments.sponsors-section {
  padding-bottom: 65px;
  background: #f8f8f8;
}

.hot-developments.sponsors-section .projects .project > p {
  text-align: center;
}

.hot-developments.sponsors-section .projects .project .small_heading_navy {
  margin-bottom: 5px;
  color: #333333;
  text-align: center;
}

.hot-developments.sponsors-section .projects .project .blog_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #d5d5d5;
  height: 180px;
  border-radius: 5px 5px 0px 0px;
}

.hot-developments.sponsors-section .projects .project .blog_img img {
  width: 85%;
  max-height: 170px;
}

.hot-developments.sponsors-section .projects .social .footer_links {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  background-color: #5bafbd;
  border-radius: 0px 0px 5px 5px;
}

.hot-developments.sponsors-section .projects .social .footer_links li {
  margin-right: 5px;
  margin-left: 5px;
  list-style-type: none;
  display: inline-block;
}

.hot-developments.sponsors-section .projects .social .footer_links li a {
  height: 40px;
  width: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.hot-developments.sponsors-section .projects .social .footer_links li a i {
  color: #ffffff;
}

.hot-developments.sponsors-section .inner {
  margin: 40px 10px 0px;
  padding: 80px 15px 60px 20px;
}

.hot-developments.sponsors-section .inner h2 {
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .hot-developments .facts .facts-list li {
    width: 50%;
  }
  .hot-developments.sponsors-section .title-box .inner-box .title {
    padding: 15px;
  }
}

.contact-info-section {
  padding: 100px 0px 20px;
}

.contact-info-section .title-box h4 {
  color: #5bafbd;
}

.contact-info-section .title-box:after {
  border-bottom-color: #5bafbd;
}

.contact-info-section .left-column .contact-info .social a {
  color: #5bafbd;
  margin-right: 10px;
}

.contact-info-section .left-column .complete-address h5 {
  margin-bottom: 25px;
  margin-top: 15px;
  font-size: 16px;
  padding-left: 45px;
}

.contact-info-section .left-column .complete-address h5 strong {
  color: #428590;
}

.contact-info-section .left-column .complete-address h5 i {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 25px;
}

.contact-info-section .right-column .contact-us-form input[type="text"],
.contact-info-section .right-column .contact-us-form input[type="email"],
.contact-info-section .right-column .contact-us-form input[type="password"],
.contact-info-section .right-column .contact-us-form input[type="tel"],
.contact-info-section .right-column .contact-us-form input[type="number"],
.contact-info-section .right-column .contact-us-form input[type="url"],
.contact-info-section .right-column .contact-us-form select,
.contact-info-section .right-column .contact-us-form textarea {
  border-bottom-color: #5bafbd;
}

.contact-info-section .right-column .contact-us-form ::-webkit-input-placeholder {
  color: #428590;
}

.contact-info-section .right-column .contact-us-form ::-ms-input-placeholder {
  color: #428590;
}

.contact-info-section .right-column .contact-us-form ::placeholder {
  color: #428590;
}

.contact-info-section .right-column .contact-us-form .send-message-btn {
  color: #5bafbd;
  border-color: #5bafbd;
}

.contact-info-section .right-column .contact-us-form .send-message-btn:hover {
  color: #ffffff;
  background-color: #428590;
  border-color: #428590;
}

@media only screen and (max-width: 767px) {
  .contact-info-section .left-column .complete-address h5 {
    margin-left: 10px;
    font-size: 18px;
  }
}

.main-footer .links-widget .list li a {
  color: #428590;
}

.main-footer .newsletter-widget .text {
  color: #428590;
}

.main-footer .contact-info li,
.main-footer .contact-info li a {
  color: #428590;
}

.main-footer .social-links li a {
  color: #428590;
}

.main-footer .footer-bottom {
  color: #5bafbd;
  border-top: none;
  padding-top: 20px;
}

.main-footer .footer-bottom .footer-social a {
  color: #5bafbd;
  margin: 10px 10px 15px 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 15px;
}

.main-footer .footer-bottom .copyright-text {
  margin-bottom: 8px;
}

.main-footer .footer-bottom .copyright-text a {
  color: #5bafbd;
}

.main-footer .footer-bottom .copyright-text .period {
  font-size: 5px;
  margin: 10px;
  position: relative;
  top: -2px;
}

.modal .modal-title img {
  height: 45px;
}

.modal .modal-header {
  border-bottom: 0;
}

.modal .modal-header button.close {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.modal .modal-footer {
  border-top: 0;
}

.modal .close {
  right: 20px;
}

.modal .btn-close {
  background-color: #5bafbd;
  color: #fff;
}

@media (min-width: 1000px) {
  .modal-lg {
    width: 60%;
  }
}

.document {
  font-size: 0.8em;
  line-height: 1.7em;
  font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 10px 0 30px;
}

.document .document_text_content {
  height: 65vh;
  overflow-y: auto;
  padding-right: 10px;
}

.document h2 {
  margin: 0px 0 30px;
  text-align: center;
  font-size: 200%;
  position: relative;
  top: -30px;
}

.document h3:first-child {
  margin-top: 0px;
}

.document h3 {
  font-size: 130%;
  font-weight: bold;
  margin-top: 40px;
}

.document p {
  text-align: justify;
  margin-bottom: 20px;
}

.document ul {
  margin-bottom: 30px;
}

.document ul li {
  margin-bottom: 8px;
  text-align: justify;
}

.document ul li strong {
  font-weight: bold;
  font-size: 110%;
  border-bottom: 1px solid;
  padding-bottom: 1px;
}

.document p ~ ul {
  margin-top: -10px;
}

.dark_bg h3,
.dark_bg i,
.dark_bg .icons_div_small p,
.dark_bg .icons_div_small i,
.dark_bg .navy_blue,
.dark_bg .default_text,
.dark_bg .font_200 {
  color: #fff !important;
}

.dark_bg .default_divider {
  border-top-color: #fff !important;
}

.sticky_buttons:active,
.sticky_buttons:hover {
  background-color: #2aa0c7;
}

.sticky_buttons {
  font-size: 20px;
  position: fixed;
  bottom: 15px;
  background-color: #000737;
  color: #fff;
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 2px solid #fff;
  cursor: pointer;
  z-index: 2;
}

.sticky_buttons i {
  color: #fff !important;
}

.to_top {
  right: 20px;
}

.share_facebook {
  left: 20px;
}

.share_whatsapp {
  left: 70px;
}

.share_facebook,
.share_whatsapp {
  display: none;
}

.cookie_warning {
  position: relative;
  top: -25px;
  background-color: white;
  z-index: 99;
  text-align: center;
  padding: 20px 10% 20px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cookie_warning p {
  color: #505050;
  font-size: 0.9em;
  text-align: left;
  line-height: 20px;
  width: 70%;
  margin-right: 35px;
}

.cookie_warning .pp_tc_link {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  font-weight: 600;
}

.cookie_warning .i_accept {
  color: #fff;
  background-color: #0c173e;
  border-color: #0c173e;
}

.cookie_warning .i_accept:active:focus,
.cookie_warning .i_accept:active,
.cookie_warning .i_accept:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
  outline: 0;
}

#error_tic .page-body {
  max-width: 300px;
  background-color: #FFFFFF;
  margin: 10% auto;
}

#error_tic .page-body .head h3 {
  margin-top: 5px;
  margin-bottom: 15px;
}

#error_tic .page-body .head {
  text-align: center;
}

/* #error_tic .tic{
  font-size:186px;
} */
#error_tic .close {
  opacity: 1;
  position: absolute;
  right: 0px;
  font-size: 30px;
  padding: 3px 15px;
  margin-bottom: 10px;
}

#error_tic .checkmark-circle {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.checkmark-circle .background {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #6ECDDD;
  position: absolute;
}

#error_tic .checkmark-circle .checkmark {
  border-radius: 5px;
}

#error_tic .checkmark-circle .checkmark.draw:after {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-name: checkmark;
  animation-name: checkmark;
  -webkit-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#error_tic .checkmark-circle .checkmark:after {
  opacity: 1;
  height: 75px;
  width: 37.5px;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-right: 15px solid #fff;
  border-top: 15px solid #fff;
  border-radius: 2.5px !important;
  content: '';
  left: 35px;
  top: 80px;
  position: absolute;
}

#success_tic .page-body {
  max-width: 300px;
  background-color: #FFFFFF;
  margin: 10% auto;
}

#success_tic .page-body .head {
  text-align: center;
}

/* #success_tic .tic{
  font-size:186px;
} */
#success_tic .close {
  opacity: 1;
  position: absolute;
  right: 0px;
  font-size: 30px;
  padding: 3px 15px;
  margin-bottom: 10px;
}

#success_tic .checkmark-circle {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.checkmark-circle .background {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #6ECDDD;
  position: absolute;
}

#success_tic .checkmark-circle .checkmark {
  border-radius: 5px;
}

#success_tic .checkmark-circle .checkmark.draw:after {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-name: checkmark;
  animation-name: checkmark;
  -webkit-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#success_tic .checkmark-circle .checkmark:after {
  opacity: 1;
  height: 75px;
  width: 37.5px;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-right: 15px solid #fff;
  border-top: 15px solid #fff;
  border-radius: 2.5px !important;
  content: '';
  left: 35px;
  top: 80px;
  position: absolute;
}

@-webkit-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}

@media only screen and (max-width: 767px) {
  .document {
    padding: 0 10px 0 10px;
  }
  .document h2 {
    margin: 20px 0 0px;
  }
}

.home .bg-image {
  position: absolute;
  z-index: 0;
  height: 100vh;
  width: 100%;
  /* height: 100%; */
  /* max-height: 600px; */
  /* width: 1000px; */
  background-color: transparent;
  /* background-image:
            url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'),
            url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
            url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
            url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png')
            !important; */
  background-repeat: repeat-x;
  background-position: center;
  background-size: 300px;
  background-repeat: no-repeat;
  /* animation: 55s para infinite linear; */
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-name: para;
          animation-name: para;
}

@-webkit-keyframes para {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes para {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.home .outerCircle {
  background-color: transparent;
  border: 2px solid rgba(110, 205, 221, 0.5);
  opacity: .9;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 50%;
  top: 0;
  margin: 0 auto;
  -webkit-animation: spinPulse 4s infinite ease-in-out;
          animation: spinPulse 4s infinite ease-in-out;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 420px;
  height: 420px;
}

.home .innerCircle {
  background-color: transparent;
  border: 5px solid rgba(189, 215, 60, 0.6);
  opacity: .9;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-radius: 50%;
  top: 0;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  position: relative;
  -webkit-animation: spinoffPulse 1s infinite linear;
          animation: spinoffPulse 1s infinite linear;
}

@-webkit-keyframes spinPulse {
  0% {
    -webkit-transform: rotate(160deg);
            transform: rotate(160deg);
    opacity: 0;
    -webkit-box-shadow: 0 0 1px #bdd73c;
            box-shadow: 0 0 1px #bdd73c;
  }
  50% {
    -webkit-transform: rotate(145deg);
            transform: rotate(145deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-320deg);
            transform: rotate(-320deg);
    opacity: 0;
  }
}

@keyframes spinPulse {
  0% {
    -webkit-transform: rotate(160deg);
            transform: rotate(160deg);
    opacity: 0;
    -webkit-box-shadow: 0 0 1px #bdd73c;
            box-shadow: 0 0 1px #bdd73c;
  }
  50% {
    -webkit-transform: rotate(145deg);
            transform: rotate(145deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-320deg);
            transform: rotate(-320deg);
    opacity: 0;
  }
}

@-webkit-keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotatecircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotatecircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@media only screen and (max-width: 767px) {
  .home .outerCircle {
    width: 375px;
    height: 375px;
  }
}

.rotate {
  -webkit-animation: yoyo 460s infinite linear;
          animation: yoyo 460s infinite linear;
}

@-webkit-keyframes yoyo {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes yoyo {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
