


























































/* 


.home {
    height: 100%;
    max-height: 600px;
    width: 1000px;
    background-color: hsla(200, 40%, 30%, .4);
    background-image:
        url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'),
        url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
        url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png')
		!important;
    background-repeat: repeat-x;
    background-position:
        0 20%,
        0 50%,
        0 100%,
        0 0;
    background-size:
        2500px,
        500px 200px,
        1000px,
		400px 260px;
		
	animation-duration: 100s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: unset;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: para;	
}

@keyframes para {
    100% {
        background-position:
            -5000px 20%,
            500px 50%,
            1000px 100%,
            400px 0;
    }
} */
