/* Axeon - Multipurpose HTML Template */

@media only screen and (min-width: 1560px){
	.boxed-body .header-style-one .outer-box,
	.boxed-body .main-slider,
	.boxed-body .featured-content-section,
	.boxed-body .testimonials-one,
	.boxed-body .news-section,
	.boxed-body .main-footer{
		margin:0px 100px !important;
	}
}

@media only screen and (min-width: 1300px){
	.boxed-body .header-style-one .outer-box,
	.boxed-body .main-slider,
	.boxed-body .featured-content-section,
	.boxed-body .testimonials-one,
	.boxed-body .news-section,
	.boxed-body .main-footer{
		margin:0px 50px;
	}
}

@media only screen and (max-width: 1340px){
	.page-wrapper{
		overflow:hidden;	
	}
	
}

@media only screen and (max-width: 1140px){
	
	.featured-content-section-two .content-column .inner{
		padding:80px 15px 60px 20px;	
	}
	
	.featured-content-section-three .content-column .inner{
		padding-left:40px;
		padding-top:60px;
		padding-bottom:60px;	
	}
	
	.featured-content-section-two .content-column h2 .white-color{
		color:#333333;	
	}
	
	.featured-content-section .content-column h2,
	.featured-content-section-two .content-column h2{
		margin-left:0px;	
	}
	
	.featured-content-section-two .facts .facts-list li .fact-inner{
		padding-left:0px;
		text-align:center;	
	}
	
	.featured-content-section-two .facts .facts-list li .icon{
		position:relative;
		left:0px;
		top:0px;
		margin:0 auto 20px;	
	}
	
	.news-list-style .image-column .image{
		margin-right:0px;	
	}
	
	.sidebar .sidebar-widget .sidebar-title:before{
		display:none;	
	}
	
	.sidebar-page-container .sidebar-side .sidebar{
		margin-left:0px;	
	}
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	
	
	
	.header-style-two{
		position:relative;
		background:#121212;	
	}
	
	.header-style-two.alternate{
		position:fixed;	
	}
	
	.header-style-one .logo-outer{
		position:relative;
		float:left;	
	}
	
	.header-style-one .outer-box{
		padding:0px 0px;	
	}
	
	.header-style-one .social-links{
		display:none;	
	}
	
	.header-style-one .outer-box .nav-outer{
		float:right;	
	}
	
	.header-style-two .outer-box .nav-outer{
		padding-right:0px;	
	}
	
	.header-style-two .outer-box .nav-outer .nav-toggler{
		display:none;	
	}
	
	.main-menu .navigation > li,
	.header-style-two .main-menu .navigation > li{
		display:block;
		float:left;
		margin:0px 0px 0px 20px;	
	}
	
	.main-slider .bordered-title{
		font-size:42px;
		line-height:1.4em;
		text-align:center !important;	
	}
	
	.main-slider .big-title{
		font-size:42px;	
	}
	
	.main-slider h3{
		font-size:26px;	
	}
	
	.main-slider .text-content{
		font-size:14px;	
	}
	
	.about-section .images-column .inner{
		padding-left:0px;	
	}
	
	.featured-content-section .content-column .inner{
		padding-left:0px;
		padding-top:0px;	
	}
	
	.projects-section .filters{
		margin-top:0px;
		margin-bottom:30px;
	}
	
	.projects-section .filters .filter-tabs{
		text-align:center;	
	}
	
	.projects-section .filters .filter-tabs li{
		margin:0px 10px 10px;
		float:none;	
	}
	
	.featured-content-section-two .image-column,
	.featured-content-section-two .content-column,
	.featured-content-section-three .image-column,
	.featured-content-section-three .content-column,
	.contact-section .form-column,
	.contact-section .map-column{
		width:100%;
		position:relative;
		left:0px;
		top:0px;
		height:auto;
		margin:0px;
		background:none !important;	
	}
	
	.featured-content-section-three .content-column .inner{
		margin:0px;	
	}
	
	.featured-content-section-two .image-column .image-box,
	.featured-content-section-three .image-column .image-box{
		display:block;	
	}
	
	.contact-section .map-column .map-canvas{
		position:relative;
		height:400px;	
	}
	
	.contact-section .form-column .inner{
		padding:60px 15px;
		max-width:none;	
	}
	
	
}

@media only screen and (max-width: 767px){
	
	.page-title{
		padding:80px 0px;	
	}
	
	.page-title h1{
		font-size:36px;	
	}
	
	.header-span{
		display:none;	
	}
	
	.header-style-one,
	.header-style-one.fixed-header,
	.header-style-two,
	.header-style-two.fixed-header,
	.header-style-three,
	.header-style-three.fixed-header,
	.header-style-two.alternate,
	.header-style-two.fixed-header .header-upper{
		position:relative;	
	}
	
	.header-style-two .outer-box{
		padding:0px 15px !important;	
	}
	
	.header-style-one .logo-outer,
	.header-style-two .logo-outer,
	.header-style-three .logo-outer{
		position:relative;
		z-index:5;	
	}
	
	.header-style-one .nav-outer,
	.header-style-two .nav-outer,
	.header-style-three .nav-outer,
	.header-style-two .outer-box .nav-outer{
		position:relative;
		width:100%;
		z-index:4;
		padding:0px;
		min-height:0;	
	}
	
	.header-style-two{
		background:#121212;	
	}
	
	.header-style-two .outer-box .nav-outer .nav-toggler{
		display:none;	
	}
	
	.main-header .main-menu{
		margin-top:-90px;	
	}
	
	.main-menu .collapse {
	   max-height:300px;
		overflow:auto;
		float:none;
		width:100%;
		padding:10px 0px 0px;
		border:none;
		margin:0px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
		-webkit-box-shadow:none;
		-ms-box-shadow:none;
		-o-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
		-webkit-box-shadow:none;
		-ms-box-shadow:none;
		-o-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;	
	}
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:24px 0px 16px;
		right:0px;
		z-index:12;
	}
	
	.header-style-two .main-menu .navbar-header .navbar-toggle{
		border:1px solid #ffffff;
		background:#ffffff;
	}
	
	.main-menu .navbar-header .navbar-toggle,
	.header-style-two.alternate .main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:7;
		border:1px solid #121212;
		float:none;
		margin:0px 0px 0px 0px;
		border-radius:0px;
		background:#121212;
	}
	
	.header-style-two .main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#121212;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar,
	.header-style-two.alternate .main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		background:#333333;
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
		color:#ffffff !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		width:100%;
		background:#333333;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
		-webkit-transform:scale(1) !important;
		-ms-transform:scale(1) !important;
		-o-transform:scale(1) !important;
		-moz-transform:scale(1) !important;
		transform:scale(1) !important;
		-webkit-box-shadow:none;
		-ms-box-shadow:none;
		-o-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:10px 10px !important;
		line-height:22px;
		font-size:14px;
		color:#ffffff !important;
		background:#333333;
		text-align:left;
		min-height:0px;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#333333;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a,
	.header-style-two.inner-header .main-menu .navigation > li > a{
		background:#333333;
		color:#ffffff !important;
	}
	
	.main-menu .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before{
		display:none !important;	
	}
	
	.main-slider .bordered-title{
		font-size:32px;
		text-align:center !important;	
	}
	
	.main-slider h3{
		font-size:16px;
		font-weight:400;	
	}
	
	.about-section .images-column .image-col:first-child .image-box{
		margin-top:0px;	
	}
	
	.inner-info-box .info-box{
		margin-top:30px;	
	}
	
	.inner-info-box .info-box ul li{
		position:relative;
		display:block;
		width:100%;
		margin:0px 0px;
		text-align:center;
	}
	
	.inner-info-box .info-box ul li:after{
		display:none;	
	}
	
	.featured-content-section .content-column h2,
	.what-we-do .title-box h2,
	.featured-content-section-two .content-column h2,
	.contact-section .form-column h2,
	.sec-title-one h2,
	.services-section .title-box h2,
	.featured-content-section-three .content-column h2,
	.work-details-section .content-column .title-box h2{
		font-size:28px;	
	}
	
	.what-we-do .row .text-column .text,
	.what-we-do .row .text-column .text-left,
	.what-we-do .row .text-column .text-right{
		text-align:center;	
	}
	
	.featured-content-section-three .content-column .inner{
		padding:60px 15px;	
	}
	
	.featured-content-section-three .facts{
		position:relative;
		width:100%;
		background:none;
		padding:0px;	
	}
	
	.featured-content-section-three .facts .facts-list li{
		padding:0px 0px 0px;
		margin:30px 0px 0px;	
	}
	
	.news-style-three h2{
		font-size:22px;	
	}
	
	.blog-details .news-style-three .text blockquote{
		margin:30px 0px 30px 0px;
		font-size:18px;
		line-height:1.6em;
	}
	
	.blog-details .news-style-three .text blockquote:before{
		display:none;	
	}

}

@media only screen and (max-width: 599px){
	.header-top .top-left,
	.header-top .top-right{
		width:100%;
		text-align:center;	
	}
	
	.header-top .top-right{
		padding-top:10px;	
	}
	
	.header-top .top-left li,
	.header-top .top-right .social-links li{
		position:relative;
		float:none;
		display:inline-block;
		margin:0px 5px;
		padding:0px;
		line-height:24px;
		border:none;	
	}
	
	.featured-content-section-two .content-column h3,
	.featured-content-section .content-column h3{
		padding-left:0px;	
	}
	
	.header-top .top-left li:before,
	.header-top .top-left li:after,
	.main-slider .subtitle:before,
	.featured-content-section-two .content-column h3:before,
	.featured-content-section .content-column h3:before{
		display:none;	
	}
	
	.main-slider .bordered-title{
		font-size:24px;
		text-align:center !important;	
	}
	
	.main-slider .big-title{
		font-size:28px;	
	}
	
	.main-slider .subtitle{
		padding-left:0px;	
	}
	
	.featured-content-section-two .facts .facts-list li{
		width:100%;
	}
	
	.sponsors-section .sponsors-list li{
		display:block;
		margin:0px 0px 10px;
		text-align:center;	
	}
	
	.work-details-section .project-info li .title-span,
	.work-details-section .project-info li .info-span{
		display:block;
		width:100%;
		margin:0px;
		padding:0px;	
	}
	
	.comments-area .comment .comment-inner{
		padding-left:0px;	
	}
	
	.comments-area .comment .comment-inner .author-thumb{
		position:relative;
		margin:0px 0px 20px;
		left:0px;
		top:0px;	
	}
	
	.comments-area,
	.comment-form{
		margin-left:0px;
		max-width:none;
	}
	
	.contact-info-section .left-column .city,
	.contact-info-section .left-column .phone{
		font-size:18px;	
	}
}

@media only screen and (max-width: 479px) {
	.main-slider .big-title{
		font-size:20px;	
	}
}