
/* Local Styling Of Each Section */

.navbar {
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    border: none !important;
    margin-top: 20px;
    min-height: 20px;
    padding: 4px 0;
    border-radius: 0;
    /* The navigation menu links */
    /* When you mouse over the navigation links, change their color */
    /* Position and style the close button (top right corner) */
}
.navbar.shrink {
    background: #ffffff;
    margin: 0;
    box-shadow: 0 8px 6px -9px #999;
    /* add 10 */
    /*margin-top: 10px;*/
    padding: 10px;
}

.navbar.shrink .navbar-nav li a {
    color: #232323;
    /* -webkit-transition: all linear 300ms; */
    /* transition: all linear 300ms; */
}

.navbar .navbar-nav li a:before{
    position: absolute;
    content: '';
    width: 100%;
    display: table;
    height: 4px;
    border-radius: 5px;
    bottom: -6px;
    /* -webkit-transition: all 300ms linear; */
    /* transition: all 300ms linear; */
    /* -webkit-transform: scaleX(0); */
    /* -ms-transform: scaleX(0); */
    /* transform: scaleX(0); */
}

.navbar.shrink .navbar-nav li a:focus {
    color: #232323;
}
.navbar.shrink .navbar-nav li a:hover {
    color: #232323;
}

.navbar .navbar-nav li{
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

.navbar.shrink .navbar-nav li.active{
    color: #000;
    border-radius: 30px;
    border-radius: 30px;
}

.navbar.shrink .navbar-header .navbar-brand{
    padding: 15px 0;
}

.navbar .navbar-nav {
    margin-right: 5px;
    height: 50px;
}
.navbar .navbar-header .navbar-brand {
    width: 140px;
    padding: 15px 0;
    min-height: 20px;
    height: auto;
}
.navbar.shrink .navbar-brand{
    width: 110px;
}

@media screen and (max-width: 992px) {
    .navbar .navbar-header .navbar-brand {
        width: 120px;
    }

    .navbar .navbar-nav li{
        padding: 0 15px !important;
    }
}

@media screen and (max-width: 767px) {
    .navbar .navbar-header .navbar-brand {
        width: 120px;
        padding: 16px 0 !important;
    }
}

.navbar .navbar-header .navbar-brand img {
    width: 100%;
}
.navbar .navbar-header button {
    background: #ffffff;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse {
        background: #ffffff;
    }
}
.navbar .navbar-nav li {
    padding: 0 20px;
    position: relative;
    top:50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

}
.navbar .navbar-nav li a {
    color: #ffffff;
    /* transition: border-color 300ms linear; */
    padding: 0;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    /* transition: all linear 300ms; */
}
.navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {
    background: transparent;
    color: #ffffff;
}
@media screen and (max-width: 767px) {
    .navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {
        color: #202125;
    }
}

.navbar .navbar-nav  li.active a:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
@media screen and (max-width: 767px) {
    .navbar {
        margin-top: 0;
    }

    .navbar .navbar-nav li a {
        color: #202125;
    }
}


@media screen and (max-width: 767px) {

}
.navbar .side-menu-button:hover {
    color: #ffffff;
    background: #202125;
}
.navbar .side-menu-button.actives {
    background: transparent;
}
.navbar .side-menu-button.actives .fa {
    font-size: 36px;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.navbar .side-menu-button.actives .fa:hover {
    color: #6a6a6a;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    -webkit-transition : 0.5s;
    transition: 0.5s;
    padding-top: 60px;
}


/**Push Menu**/
/*Toggle*/
.menu_bars{
    width:20px;
    border-radius:4px;
    cursor: pointer;
    display:table;
    position:relative;
    z-index:1102;
    z-index:1102;
    background:transparent;
    float: right;
    top: 15px;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
    right: 10px;
    font-family: "Raleway", sans-serif;
}
nav.navbar.bootsnav.navbar-fixed.no-background  .menu_bars{ margin-top:20px;}
.menu_bars.left{
    left:30px;
    float:left;
}
.menu_bars.right{
    float:right;
}

.shrink .menu_bars.right{
    top:16px;
}

.menu_bars.active{
    position:fixed;
    margin-top:0 !important;
    right: 30px;
    border:none !important;
}
/* for index5 only start */
.menu_bars.active2{
    border: 1px solid #1b1b1b;
    padding: 7px;
    position:fixed;

    right: 30px;

}
.menu_bars.active2 {
    background: #FFFFFF;
}
/* for index5 only end */
.menu_bars.active span{
    background:#1b1b1b;
}
.menu_bars.active.right{
    padding: 15px;
    top:10px;
}
.menu_bars.active span.t1{
    -webkit-transform: translateY(11px) rotate(-45deg);
    transform: translateY(11px) rotate(-45deg);
}
.menu_bars.active span.t2{
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.menu_bars.active span.t3{
    -webkit-transform: translateY(-5px) rotate(-135deg);
    transform: translateY(-5px) rotate(-135deg);
}
.menu_bars span{
    background: #ffffff;
    display: block;
    height:4px;
    width:27px;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
    border-radius: 20px;
}
.navbar.shrink .menu_bars span{
    background: #000000;
}
nav.navbar.bootsnav.navbar-fixed.no-background .menu_bars span{
    background:#fff;
}

.menu_bars.active span{
    width: 18px;
}

nav.navbar.bootsnav.sticked .menu_bars,
nav.navbar.bootsnav.navbar-fixed .menu_bars{
    margin-top:8px;
}
.menu_bars span.t2{
    margin: 4px 0;
}
/*this is the nav*/
.pushmenu-push{
    overflow-x: hidden;
    position: relative;
    left: 0;
}
.pushmenu{
    background: #fff;
    padding:20px 15px;
    width: 270px;
    height: 100%;
    top: 0;
    z-index: 1100;
    position:fixed;
    overflow:hidden;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    border-top: 3px solid;
}
.sidebar_menu{
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.pushmenu.pushmenu-right{ padding:20px 20px 20px 40px;}
.pushmenu-left{
    left: -270px;
}
.pushmenu-left.pushmenu-open{
    left: 0;
    box-shadow:3px 0 3px -3px #c2c2c2;
}
.pushmenu-push-toright{
    left: 270px;
}
.pushmenu-right{
    right: -270px;
}
.pushmenu-right.pushmenu-open{
    right: 0;
    box-shadow:3px 0 3px 3px #c2c2c2;
}
.pushmenu-push-toleft{
    left: -270px;
}
.pushmenu .push-logo{
    display:block;
    padding:0 0 30px 0;
    position:relative;
    z-index:98;
    margin-top: 3px;
}
.pushmenu .push-logo > img{
    display:inline-block;
    width:110px;
}

.indexing{
    z-index: 16 !important;
}

.indexing_1{
    z-index: 14 !important;
}

.indexing_2{
    z-index: 15 !important;
}

.pushmenu .push_nav{
    padding-left: 0;
    margin-top: 150px;
    padding: 0;
}

.pushmenu .push_nav li a{
    font-family: 'Raleway', sans-serif;
}

.pushmenu .push_nav li a:hover{
    text-decoration: none;
}

@media screen and (max-width: 1199px) {
    .pushmenu .push-logo > img{
        width: 82px;
    }
}
.pushmenu .push_nav{ width:100%; z-index:100; background:#fff;}
.pushmenu .push_nav li a:hover {
    -webkit-transform: none;
    transform: none;
}
.pushmenu .push_nav > li{
    display:block;
    position:relative;
    -webkit-transform:translate3d(100%, 0px, 0px);
    transform:translate3d(100%, 0px, 0px);
    opacity:0;

}

.pushmenu.pushmenu-open .push_nav > li{
    -webkit-transition-duration:.4s;
    transition-duration:.4s;

    -webkit-transition-property : all;

    transition-property: all;
    -webkit-transform: translate3d(0, 0px, 0px);
    transform: translate3d(0, 0px, 0px);
    -webkit-transition-timing-function:ease;
    transition-timing-function:ease;
    opacity:1;
}

.pushmenu.pushmenu-open .push_nav > li:first-child{
    -webkit-transition-delay:.1s;
    transition-delay:.1s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(2){
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(3){
    -webkit-transition-delay:.3s;
    transition-delay:.3s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(4){
    -webkit-transition-delay:.4s;
    transition-delay:.4s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(5){
    -webkit-transition-delay:.5s;
    transition-delay:.5s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(6){
    -webkit-transition-delay:.6s;
    transition-delay:.6s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(7){
    -webkit-transition-delay:.7s;
    transition-delay:.7s;
}

.pushmenu .social_icon.list-inline li a {
    width: 40px;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    transition: 1s;
}


.pushmenu .push_nav > li > a{
    display: block;
    color: #232323 !important;
    font-size:14px;
    padding:5px;
    margin:0 0px 18px 0px;
    text-transform:capitalize;
    padding-left: 0;
}
.pushmenu .push_nav > li > a > span{
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    width: 30px;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
}
.pushmenu .push_nav > li > a:hover span{
    margin-left:-10px;
}
.pushmenu .push_nav > li > a:hover, .pushmenu  .push_nav > li > a:focus,
.pushmenu .push_nav > li.active > a{
    text-decoration: none;
}
.pushmenu .push_nav .dropdown > a{ margin-top:0;}
.pushmenu .push_nav .dropdown-menu{
    position: relative;
    width: 100% !important;
    padding: 0;
    margin:0 0 0 15px;
    border-radius: 0;
    border: none;
    background-color:#fff;
}
.pushmenu  .push_nav .dropdown-menu li a{ display:block; color: #232323;}
.pushmenu  .push_nav .dropdown-menu li:first-child a{ border-top:1px solid #e1e1e1;}
.pushmenu  .social_icon{ position:absolute; bottom:10px; left:40px; right:0;}
.pushmenu  .social_icon.list-inline li a{
    border-color: #232323;
}
.pushmenu  .social_icon.list-inline li a{
    border:none;
}
.pushmenu  .social_icon.list-inline li a:last-child:hover{
    background:  #0077B5;
    color: #ffffff;
}
.pushmenu  .social_icon.list-inline li a:hover{
    border-color: transparent;
}
body.pushmenu-push-toLeft{
    right: 260px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.pushmenu  .social_icon{
    padding-right: 0;
}


#main {
    -webkit-transition : margin-left .5s;
    transition: margin-left .5s;
    padding: 16px;
}
.sideNavWidth{
    width: 250px;

}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* center navbar */
.centered-nav .navbar-header{
    height: auto;
    position: absolute;
    float: none;
    left: 50%;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.centered-nav .navbar .navbar-nav li{
    padding: 0 30px;
}


.index-light .navbar .navbar-nav li a{
    color: #232323;
}

.index-light .navbar .menu_bars span{
    background: #232323;
}

.index-light .menu_bars.active.right span{
    background: #232323;
}

.index-light .navbar .navbar-nav li a{
    font-weight: 500;
}

.index-only-side-nav .navbar-brand{
    margin: 0 10px;
    margin-left: 5px !important;
    transform: scale(1);
    transition: 300ms;
}

.display_none{
    transform: scale(0) !important;
}

.index-only-side-nav .menu_bars{
    padding: 13px 14px;
    top:5px;
}

.index-only-side-nav .menu_bars span{
    width: 15px;
    height: 2px;
}

.index-only-side-nav .menu_bars span.t2{
    margin: 3px 0;
}

.index-only-side-nav .menu_bars:hover span{
    background: #ffffff;
}

.index-only-side-nav .menu_bars.active.right {
    background: none;
}


.index-only-side-nav .menu_bars.active.right span{
    width: 18px;
    height: 4px;
}

.index-only-side-nav .menu_bars.active.right span.t2{
    margin: 4px;
}

.bottom_navbar .navbar{
    bottom: 0;
    position: absolute;
    z-index: 15;
    border-radius: 0;
    width: 100%;
}

.bottom_auto{
    bottom: auto !important;
    position: fixed !important;
}

.making_bar_outside_absolute{
    position: absolute !important;
    right: 30px !important;
    top:30px !important;
}

.making_bar_outside_absolute.active{
    top:10px !important;
}

.upper_bar_connector{
    position: absolute;
    z-index: 9;
    width: 100%;
}

.navbar-upper-instruction{
    padding: 30px 0 0;
    width: 100%;
    z-index: 9;
}

.navbar-upper-instruction .upper_inner_information i{
    font-size: 18px;
}

.upper_inner_information{
    cursor: pointer;
}

.upper_inner_information p{
    display: inline-block;
    margin-right: 15px;
}

.upper_inner_information_icons .upper_inner_information_icons_inner{
    margin: 0;
    padding: 0;
}

.upper_inner_information_icons .upper_inner_information_icons_inner li{
    display: inline-block;
}

.upper_inner_information_icons_inner li a{
    width: 25px;
    height: 25px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 40px;
    transition: 1s;
    display: block;
    text-align: center;
    line-height: 25px;
    margin: 0 5px;
}

.upper_inner_information_icons_inner li a i{
    font-size: 16px;
}

.upper_inner_information_icons_inner li a:hover{
    background: #ffffff;
}

.navbar_with_instructions .navbar{
    margin: 0 auto;
    top:29px;
    position: relative;
}

.fixing_navbar_after_scrolling{
    margin: 0 auto !important;
    position: fixed !important;
    top: 0 !important;
    display: block !important;
    width: 100%;
    right:0;
    left: 0;
}

.special_nav_styling{
    border-radius: 80px;
}

.special_nav_styling .navbar-header .navbar-brand{
    margin-left: 10px;
}

/*navbar styling end */






















