// $theme_color1: #2b3d82;
$theme_color1: #008cba;



.gradient-overlay-slider {
    background: linear-gradient(60deg, rgba(40, 52, 140, 0.76) 0%, rgba(0, 0, 0, 0.76) 70%);
}


.menu_bars.right {
	display: none;
}


.big_padding {
	padding: 60px 0;	
}


.default_divider_medium {
	margin-bottom: 60px;
}

.xs_padding {
	padding: 30px 0;
}


.navbar .navbar-nav {
	position: relative;
	top: 10px;
}

.blog_img img {
	transition: none;
}
.blog_img:hover img {
    transform: scale(1);
}

.main_title {
    text-shadow: 0 0 15px #6ccad9;
    color: #6ecddd;
    font-weight: 200;
	span {
		// text-shadow: none;
	    color: #fff;
	}
}

.main_slogan {
	text-shadow: 0 0 10px #fff;	
}



.bg_dblue {
	background-color: #171f61 !important;
}


.read_more {
	display: none;
}

.text_align_justify {
	text-align: justify;
}

.flex_space_evenly {
	display: flex;
    justify-content: space-evenly;	
    flex-wrap: wrap;
}

.margin_left_0 {
	margin-left: 0;
}


.has_bg_image {
	background-position: center;
	background-size: cover;
}

.navy_blue {
    color: $theme_color1 !important;
}

.font_200 {    
    color: #000;
}

i.far,
i.fas,
i.fa {
    color: $theme_color1;
}


.white_color {
	color: #fff !important;
	> span i {
	    font-size: 5px;
	    margin: 10px;
	    position: relative;
	    top: -2px;		
	}
	> span i ,
	> a {
		color: #fff !important;		
	}
}


.hexagon {
    position: relative;
    width: 50px;
    height: 30px;
    background-color: $theme_color1;
    margin: 10px 0 20px ;
    display: inline-flex;
    border-radius: 3px;
    i {
    	padding:0;
    	margin: 0 10px;
    }
}
.hexagon:before,
.hexagon:after {
	content: "";
	position: absolute;
	width: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-radius: 10px;
}

.hexagon:before {
	bottom: 100%;
	border-bottom: 10px solid $theme_color1;
}

.hexagon:after {
	top: 100%;
	width: 0;
	border-top: 10px solid $theme_color1;
}

.roundHex {
  position: relative;
  margin: 0 auto;
  background: transparent;
  border-radius: 10px;
  height: 300px;
  width: 180px;
  box-sizing: border-box;
  transition: all 1s;
  border: 10px solid transparent;
  border-top-color: black;
  border-bottom-color: black;
}
.roundHex:before,
.roundHex:after {
  content: "";
  border: inherit;
  position: absolute;
  top: -10px;
  left: -10px;
  background: inherit;
  border-radius: inherit;
  height: 100%;
  width: 100%;
}
.roundHex:before {
  transform: rotate(60deg);
}
.roundHex:after {
  transform: rotate(-60deg);
}








// buttons
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/* Sweep To Right */
.hvr-sweep-to-right.btn-default {
    width: 180px;
    height: 50px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #ffffff;
    font-size: 16px;
    margin-top: 20px;
}

.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-right.btn-default {
    background-image: -ms-linear-gradient(left, #00F2FF 0%, #00BBFF 100%);
    background-image: -moz-linear-gradient(left, #00F2FF 0%, #00BBFF 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #00F2FF), color-stop(1, #00BBFF));
    background-image: -webkit-linear-gradient(left, #00F2FF, #00BBFF 100%);
    background-image: linear-gradient(to right, #00F2FF, #00BBFF 100%);
    border: 1px solid #00F2FF;
}

.hvr-sweep-to-right:hover, 
.hvr-sweep-to-right:focus, 
.hvr-sweep-to-right:active {
    color: #ffffff;
    background: -webkit-linear-gradient(left, #2E4054, #456A93 100%);
    background: linear-gradient(to right, #2E4054, #456A93 100%);
    border-color: #456B93;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// buttons

.backdrop {
	width:100%;
	height:100%;
	position: absolute;
}
.backdrop.dark_bg_backdrop {
	background-color: rgba(0, 0, 0, 0.65);
}


.about_us {
	.default_text,
	.icons_div_small p {
		text-align: justify;		
	}
	.icons_div_small {
	    padding: 10px 0 25px;
	}

	.image {
		width: 100%;
	    height: 65%;
	    display: flex;
	    min-height: 430px;
	    background-position: center;
	    background-size: cover;
        // border-radius: 5px;
        border: 1px solid;
        margin-bottom: 30px;
	}	

}
#about_us {
    // background-size: cover;
    // background-position: center;	
    
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;

	.half_section_picture {
		right:0;
		left: auto;
		background-position: center;
		    background-size: 80%;
	}

}
#about_us_1 {
	.default_text_light ,
	.blue_color {
		color: #fff;
		text-shadow: 0px 0px 5px;
	}
	.blue_color {
	    text-shadow: none;
	}
	.side_section_text {
	    // background-color: #fff;
	    // background-color: rgba(255, 255, 255, 0.7);
	    // padding: 30px 20px;
	    // margin: 30px 0;	
	    // border: 1px solid;
	}

}


.display_flex {
	display: flex !important;
}


.parallax_bg {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;	
}

.valign_center {
    align-items: center;
    display: flex;	
}





#mission_vision {
	padding: 0;
	position: relative;
	.default_section_heading { 


	}
	.skill_section {
		padding-top: 60px;
		position: relative;
		.skill_section_inner {
			// padding-left: 20%;
			h2 {
				// color: #fff;
				color: #000000;
				// text-align: right;
			}
			hr {
				// color: #fff;
				color: #000000;
				// margin-right: 0;
				border-top: 1px solid #000000;
			}
		}
	}

	.circle_pie_section {
		padding-bottom: 60px;		
		.mission,
		.vision {
			.expertise_block {			
				h3,
				p {
					// color: #fff;
					color: #000000;
				}
			}
		}
	}
	.font_200 {    
	    // color: #FFF;
	    color: #000000;
	}	
}


#value_proposition {
	.default_text_light{
		margin-bottom: 25px;
		// padding: 0 20%;
	}
	.default_text {
	    // min-height: 112px;
	}
	.top_item ,
	.middle_item ,
	.bottom_item {
		display: flex;
		> .row {
			margin: auto;
			h3 {
			    width: 215px;
			}
		}
	}
	.margin_default_bottom_big {
	    margin-bottom: 35px !important;
	}
	.expertise_block {
	    display: flex;
		justify-content: flex-start;
	    align-items: center;
	    i {
    	    margin-right: 20px;
		    color: $theme_color1 ;	
	        width: 95px;
	        font-size: 35px;
	    }
	    h3 {
		    color: $theme_color1;
	        text-align: left;
	        font-size: 18px;
	    }
	}
	.expertise_block:hover { 
		i {
		    color: $theme_color1 ;	
		}
	}

	.img_middle {
		height: 195px;
	    width: 100%;
        margin: 0 35px 35px;
	    background-size: cover;
	    background-position: center;
        border: 1px solid;
	}

	.particles_bg {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    margin-top: -60px;		
	}

	.vp_img {
		width: 100%;
	}

	.fas.fa-hand-holding{
		position: relative;
		top: -15px;		
	}
	
}



#unique_selling_points {
    background-position: center;
    background-color: rgb(249, 249, 249);
    background-size: cover;	
    padding-bottom: 200px;
    .hexagon {
		background-color: #fff;
    }
	.hexagon:before {
		border-bottom: 10px solid #fff;
	}
	.hexagon:after {
		border-top: 10px solid #fff;
	}

	.icons_div_small {
		padding-top: 0px;
	}

	.main_text {
		font-size: 110%;
	    line-height: 25px;
	}

	.usps {
	    display: flex;
	    flex-wrap: wrap;
	    > div {
	    	margin-bottom: 20px;
	    }
		.usp {
		    padding: 15px;
		    margin: 20px 20px 20px 0px;		    
		    // background-color: rgba(0, 0, 0, 0.5);
			height: 90%;

			border: 1px solid rgba(0, 0, 0, 0.1);
			background-color: rgba(255, 255, 255, 0.9);

		    .icons_div_small {			    	
				.title {
				    display: flex;
				    align-items: center;
				    i {
				    	color: $theme_color1 !important;
				    }
				    p {
				    	margin: 0 0 10px 20px;
				    }
				}
				> p {
				    line-height: 25px;
				    text-align: left;				
				}
		    }
		}
	}

	.curved_bg {
	    background-position: top;
	    background-size: cover;
	    width: 100%;
	    height: 270px;
	    background-color: transparent;
	    position: absolute;
	    bottom: 0;	    
	}


	// white color
	///////////////////////////////////////
	p,
	.default_text,
	.font_200,
	.navy_blue {
	    // color: #fff !important;
	    color: #000000 !important;
	}
	.default_divider_blue {
	    // border-top-color: #fff !important;
	    border-top-color: #000000 !important;
	}

	.usps .usp {
	    border: 1px solid #fff;
	}
	///////////////////////////////////////
	// white color

}





#ceo {
    background-size: auto 105%;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;	
	.ceo_img {
	    background-size: auto 95%;
	    background-position: center;
	    height: 500px;
	    background-repeat: no-repeat;
	}
}


#our_team {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    .text_content {
	    background-color: rgba(12, 29, 44, 0.7);
	    padding: 20px;
	    margin: 50px 0;    	
    }

}


#products_services {
	// background-size: 300%;
	overflow: hidden;
	.default_section_heading {
		// color: #fff;
		color: #000000;			
		span {
			// color: #fff;			
			color: #000000;			
		}
	}
	.default_divider {
		// border-top-color: #fff !important;
		border-top-color: #000000 !important;
		padding: 30px 0px 60px 0px;
	}
	.usps {
		.usp {
			margin: 0 20px;
		    padding: 15px 25px;
		    // border: 1px solid #fff;
		    border: 1px solid rgba(0, 0, 0, 0.1);
		    // background-color: rgba(0, 0, 0, 0.8);			
		    background-color: rgba(255, 255, 255, 0.9);
			.title {
				p {
					// color: #fff;
					color: #000000;			
				}
			}
			p.default_text {
				// color: #fff;
				color: #000000;
			    text-align: left;
			}
		}

		> .row {
		    display: flex;
		    // justify-content: center;
		    justify-content: flex-end;
		    margin-bottom: 170px;
		    .img_container {
			    position: relative;
			    display: inline-block;		    	
		    	img.move_left { 
	    		    left: -100px;		    		
		    	}
		    	img.move_right {
	    		    right: -260px;
		    	}
		    	img {
		    		position: absolute;
	    		    right: 0;
				    top: -35%;
					height: 480px;
		    	}
		    	
		    }
		}
		> .row.reverse {
		    flex-direction: row-reverse;
		    display: flex;		
		    .img_container {
		    	img {
				    top: -35%;
				    // left: 0;
				    right: auto;
		    	}
		    	img.move_left_reverse {
				  top: 1%;
   				  left: -50px;
   				  height: 480px;

		    	}
		    }
		}
		> .row:last-child {
		    margin-bottom: 100px;
		}
	}
}





#present_products {
	.swiper_main_container {
		// position: relative;.
		.present_products_slider_main {

			.swiper-pagination-custom {
		        text-align: center;
			    padding-top: 20px;
			}


			.swiper-wrapper{
				align-items: flex-end;
				.img_a {
					color: #000;
				}
				.blog_img {
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    border: 1px solid #d5d5d5;
				    height: 235px;
					img {
					    width: 60%;
					    height: auto;		        
					}
					
					img.buyanylight {
						width: 100%;
					}
				
					img.billboardly {
						width: 85%;						
					}
				}
				.small_heading_navy {
					font-size: 18px;
				}
			}
		}

		.swiper-navs {
		    top: 160px;	
		    // display: none;		
		}
	}
}

#successful_spinoffs {
	padding-top: 0;
	.side_section_text {
		padding-top: 0;
	}

	.default_section_heading {
	    font-size: 30px;
	}

	.default_content {
		> .default_text {
			margin-bottom: 30px;
		}
	}

	.swiper_main_container {
		// position: relative;
		.successful_spinoffs_slider_main  {
			.swiper-pagination-custom {
		        text-align: center;
			    padding-top: 20px;
			}

			.swiper-wrapper{
				align-items: flex-end;
				.img_a {
					color: #000;
				}
				.blog_img {
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    border: 1px solid #d5d5d5;
				    height: 135px;
					img {
					    width: 60%;
					    height: auto;		        
					}
				}
				.small_heading_navy {
					font-size: 18px;
				}
			}
		}

		.swiper-navs {
		   top: 110px;					
		}		
	}
}


#more_projects {
	padding-top: 0;
	.side_section_text {
		padding-top: 0;
	}

	.default_section_heading {
	    font-size: 30px;
	}

	.default_content {
		> .default_text {
			margin-bottom: 30px;
		}
	}

	.swiper_main_container {
		// position: relative;
		.more_projects_slider_main  {
			.swiper-pagination-custom {
		        text-align: center;
			    padding-top: 20px;
			}

			.swiper-wrapper {
				align-items: flex-end;
				.img_a {
					color: #000;
					cursor: default;
				}
				.blog_img {
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    border: 0;
				    height: 95px;
					img {
					    width: 85%;
					    height: auto;		        
					}
				}
			}	
		}

		.swiper-navs {
		    top: 30px;		
		    display: none;	
		}		
	}
}


.swiper_main_container {
	position: relative;
	.swiper-container {		
		width: 90%;
		margin: auto;
	}
}

.swiper-navs {
    position: relative;
	display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    // bottom: 40px;
	
	position: absolute;

    .swiper-button-prev ,
    .swiper-button-next {
    	display: none;
	    outline: none;
	    position: absolute;
	    display: inline-flex;
	    top: 0;
	    bottom: 0;
        margin: 0 10px;
    }
    .swiper-button-prev { 
    	left: 0;
    	right: auto;   	
    }
    .swiper-button-next {
    	left: auto;
    	right: 0;
    }
}		



#future_prospects {
	.default_text,
	.icons_div_small p {
		text-align: justify;		
	}
	.icons_div_small {
	    padding: 10px 0 25px;
	}

	.image {
		width: 100%;
	    height: 65%;
	    display: flex;
	    min-height: 315px;
	    background-position: center;
	    background-size: contain;
	    background-repeat: no-repeat;	    
        // border-radius: 5px;
        // border: 1px solid;
        margin-bottom: 30px;
	}	

	.half_section_picture {
		background-position: center;
	}

	.icons_div_small p,
	.icons_div_small i,
	.navy_blue,
	.default_text,
	.font_200 {
		color: #fff !important;
	}
	.default_divider {
		border-top-color: #fff !important;
	}

}













#contact-form {

	.mew_form .button_div a i {

		color: #fff !important;

	


	}

	.mew_form {

		.form_textarea {
			margin-bottom: 0px;
		}

		.default_text {
			font-size: 12px;
		    line-height: 28px;
		    transition: 1s;
		    font-weight: 300;
		}

		.privacy-field {
			position:relative;
			 margin-bottom: 20px;
		}

		.default_small_heading {
		    color: #989898;
		    font-size: 14px;
		    margin: 0;
		    word-spacing: 2px;
		    line-height: 32px;
		}


	}
}




footer.footer_section {
    background: #000737;
	.symbol {
	    font-size: 13px;
	    position: relative;
	    top: -5px;
	    margin-left: 5px;		
	}
}







































.modal {
	.modal-title {
		img {
		    height: 45px;
		}	
	}
	.modal-header {
		border-bottom: 0;
	}
	.modal-footer {
		border-top: 0;	
	}
}

// for Privacy Policy and Terms & Condition
@media (min-width: 1000px) {
  .modal-lg {
    width: 60%;
  }
}


.document {
    font-size: 0.8em;    
    line-height: 1.7em;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 10px 0 30px;
    // padding: 0 30px;
    .document_text_content {
	    height: 65vh;
	    overflow-y: auto;
	    padding-right: 10px;
    }
    h2 {
	    margin: 0px 0 30px;
	    text-align: center;
	    font-size: 200%;
	    position: relative;
	    top: -30px;	    
    }
    h3:first-child { 
        margin-top: 0px;
    }
    h3 {
	    font-size: 130%;
	    font-weight: bold;
        margin-top: 40px;
    }
    p {
    	text-align: justify;
    	margin-bottom: 20px;
    }
	ul {
	    margin-bottom: 30px;
		li {
			margin-bottom: 8px;
	    	text-align: justify;
	    	strong {
			    font-weight: bold;
			    font-size: 110%;
			    border-bottom: 1px solid;
			    padding-bottom: 1px;
	    	}
		}
	}
	p ~ ul {
		margin-top: -10px;
	}
}










.dark_bg {
	h3,
	i,
	.icons_div_small p,
	.icons_div_small i,
	.navy_blue,
	.default_text,
	.font_200 {
		color: #fff !important;
	}
	.default_divider {
		border-top-color: #fff !important;
	}
}


















// sticky buttons
/////////////////////////////////////////////////////////////////

.sticky_buttons:active ,
.sticky_buttons:hover {
    background-color: #2aa0c7;
}

.sticky_buttons {
    font-size: 20px;
    position: fixed;
    bottom: 15px;
    // right: 20px;
    background-color: #000737;
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #fff;
    cursor: pointer;
    z-index: 2;
    i {
    	color: #fff !important;
    }
}

.to_top {
    right: 20px;
}


.share_facebook {
    left: 20px;
}
.share_whatsapp {
    left: 70px;
}


.share_facebook ,    
.share_whatsapp {
    display: none;
}


/////////////////////////////////////////////////////////////////
// sticky buttons














.cookie_warning {
    position: relative;
    top: -25px;
    // background-color: rgba(0, 0, 0, 0.9);
    background-color: rgb(255, 255, 255);
    z-index: 99;
    text-align: center;
    padding: 20px 10% 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // border-bottom: 1px solid #24bce2;
    p {
	    color: #505050;
	    font-size: 0.9em;
	    text-align: left;
	    line-height: 20px;
	    width: 70%;
	    margin-right: 35px;
    }
    button {
    	// margin-top: 15px;
    }
    .pp_tc_link {
		text-decoration: none;
		cursor:pointer; 
    	color: #000;    	
		font-weight: 600;    	
    }
    .i_accept {
	    color: #fff;
	    background-color: #0c173e;
	    border-color: #0c173e;
    }

    .i_accept:active:focus ,
    .i_accept:active ,
    .i_accept:hover {
	    color: #fff;
	    background-color: #000;
	    border-color: #000;
	    outline: 0;
    }
}












// syucceesss


 #success_tic .page-body{
  max-width:300px;
  background-color:#FFFFFF;
  margin:10% auto;
}
 #success_tic .page-body .head{
  text-align:center;
}
/* #success_tic .tic{
  font-size:186px;
} */
#success_tic .close{
      opacity: 1;
    position: absolute;
    right: 0px;
    font-size: 30px;
    padding: 3px 15px;
  margin-bottom: 10px;
}

#success_tic .checkmark-circle {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.checkmark-circle .background {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #6ECDDD;
  position: absolute;
}
#success_tic .checkmark-circle .checkmark {
  border-radius: 5px;
}
#success_tic .checkmark-circle .checkmark.draw:after {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  animation-delay: 300ms;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-name: checkmark;
  -moz-animation-name: checkmark;
  animation-name: checkmark;
  -webkit-transform: scaleX(-1) rotate(135deg);
  -moz-transform: scaleX(-1) rotate(135deg);
  -ms-transform: scaleX(-1) rotate(135deg);
  -o-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#success_tic .checkmark-circle .checkmark:after {
  opacity: 1;
  height: 75px;
  width: 37.5px;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  border-right: 15px solid #fff;
  border-top: 15px solid #fff;
  border-radius: 2.5px !important;
  content: '';
  left: 35px;
  top: 80px;
  position: absolute;
}

@-webkit-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
@-moz-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}



// end success















.social {
	.footer_links li {
		margin-right: 5px;
		margin-left: 5px;
		a {
			// color: #000000;
			color: #676767;
		}
	}
	.footer_links li a:hover {
		color: #fff;
	}
} 

.youtube:hover {
	background-color: red !important;
}
.instagram:hover {
	background-color: hotpink !important;
}



.hot_devs {	
	.hot_dev {
		.small_heading_navy {
			margin-bottom: 5px;
		}
		.blog_img {			
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #d5d5d5;
			height: 180px;

			img {
				// width: auto;
				width: 85%;
				max-height: 170px;
			}
		}
	}

}


#successful_spinoffs {
	.social {
		.footer_links li {
			a {
				height: 30px;
				width: 30px;
				line-height: 30px;
				font-size: 15px;
			}
		}
	} 	
}












































































































































































































































 



/* 768px Medium Screen */ /////////////////////////
@media only screen and (max-width: 768px){ /////////////////////////
////////////////////////////////////////////////////////////////////////////

#present_products {
	.swiper_main_container {

		.present_products_slider_main {
			.swiper-wrapper{
				.blog_img {
					height: 190px;
					
					img.buyanylight {
						height: 80%;
						width: auto;
						left: 10px;
						position: relative;
					}
				
					img.quicklist {
						height: auto;
						width: 100%;		
					}					
				}
			}
		}

		.swiper-navs {
		    top: 130px;	
		    display: block;		
		}
	}


}

#more_projects {
	.swiper_main_container {
		.swiper-navs {
		    top: 30px;		
		    display: block;	
		}		
	}
}


.cookie_warning {
    top: -5px;    
	p {
	    width: 100%;
	    margin-right: 0;
	    text-align: center;
	    font-size: 0.7em;
	    line-height: 16px;
	}
}


.navbar.shrink {
	background-color: transparent;
	box-shadow: none;
	margin-top: 10px;

	.menu_bars {
	    background-color: #fff;
	    padding: 5px;
	    border: 1px solid;
	}
	.navbar-brand {
		display:none;
	}
}

.default_small_heading,
.default_text {
    line-height: 20px;
}

.menu_bars.right {
    display: table;
}

#value_proposition {
	.default_section_heading {
		text-align: center;
	}
	.expertise_block {
		width: 100%;
		h3 {
			width: 100%;
		}
	}
	.default_text_light {
		padding: 0;
	    text-align: justify;
	}
	.img_middle {
		display: none;
	}
}

#about_us {
	background-size: cover;
	.half_section_picture{
	    background-image: none !important;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.85);
	    z-index: 0;
	}
}

#unique_selling_points {

}

#ceo {
	margin-top: -150px;
	.side_section_text {
	    background-color: rgba(255, 255, 255, 0.7);
	    margin-bottom: 20px;
	    padding: 20px 10px 20px;
	    border: 1px solid #bfbfbf;
	    .default_text {
	    	text-align: justify;
	    }
	    .default_section_heading,
	    .default_text,
	    .font_200 {
	    	// color: #fff !important;
	    }
	}
}

#our_team {
	.text_content {
	    background-color: rgba(0, 0, 0, 0.7);
	    padding: 20px 20px 15px;
	    margin: 30px 0;
	    .default_section_heading ,
	    .default_small_heading {
	    	text-align: center;
	    } 
	    .default_text {
	    	text-align: justify;
	    }
	}
}

#more_projects {
	.default_divider  {
		margin-left: 0 !important;
	}

	.swiper-navs {
		display: block;
	}
}


.swiper_main_container {

	.swiper-container {
	    width: 70%;
	}
}

#products_services {
	.usps {
		> .row {
			margin-bottom: 120px;
			.img_container {
				img {
				    top: -20%;
				    width: 100vw;
				    height: auto;
					left: 0;
					right: auto;				    
				}
			}
		}
		> .row.reverse {
		    flex-direction: row;
			.img_container {
				img {
			        top: -10%;
				}
				img.move_left_reverse {
				 	width: 100vw;
				 	top: -7%;
    				left: 8px;
				    height: auto;
   				  // left: -227px;
   				  // height: 480px;

		    	}


			}
		}
		
	}
	.big_padding {
	    // padding: 30px 0;
	    padding: 45px 0;
	}	
}


#future_prospects {
	.half_section_picture {
	    z-index: 0;
	    background-size: 90% auto;
	    width: 100%;
	    height: 100%;
	    background-position-x: -100%;
	    background-position-y: 135%;


	}

	.item_sections {
		background-color: rgba(0, 0, 0, 0.6);
		margin: 0px 5px;
		padding: 10px 10px 0px;
		border-radius: 5px;
		border: 1px solid #fff;
		.default_text {
		    text-align: left;
		}
	}
	
}


.document {
	padding: 0 10px 0 10px;
	h2 {
	    margin: 20px 0 0px;
	}
}


.share_facebook ,    
.share_whatsapp {
    display: inline-flex;
}


#contact-form .mew_form .default_small_heading {
    line-height: 21px;
}

////////////////////////////////////////////////////////////////////////////
} //////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////



